/* Entries
--------------------------------------------- */

.entry {
	padding: 0 70px 50px;
}

.content .entry {

}

.entry-content {
	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: #000;
		color: #ddd;
	}
}
.steps-content header p {
	color: #5c6366;
	font-family: $font-sans2;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
}
.steps-content header {
	padding-left: 95px;
}
.steps-content {
	display: none;
}
.entry-content article:first-child {
	display: block;
}

.large-icon {
	background: url(/images/icons/sprites/icons_large.png) no-repeat;
	width: 77px;
	height: 65px;
	float: left;
}

#babystep1 .large-icon {
	background-position: 0 -455px;
}
#babystep2 .large-icon {
	background-position: 0 -520px;
}
#babystep3 .large-icon {
	background-position: 0 -585px;
}
#babystep4 .large-icon {
	background-position: 0 -648px;
}
#babystep5 .large-icon {
	background-position: 0 -713px;
}
#babystep6 .large-icon {
	background-position: 0 -777px;
}
#babystep7 .large-icon {
	background-position: 0 -842px;
}
.fill-space {
	min-height: 150px;
}
.friendname {
	color: $color-link;
}