.site-header {
	background: url(/images/header.jpg) no-repeat center;
	min-height: 276px;
	.wrap {
		padding: 40px 0;
	}
	h2 {
		font-family: $font-sans;
		font-weight: 300;
		font-size: 32px;
		color: #fff;
		line-height: 30px;
		margin-bottom: 15px;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: right;
	padding: 10px 50px 0 0;
	width: 510px;
}

.header-full-width {
	.title-area {
		width: 100%;
	}
}

.site-title {
		font-family: $font-sans;
		font-weight: 600;
		font-size: 50px;
		color: #fff;
		line-height: 48px;
		text-align: right;
		text-transform: uppercase;

	a,
	a:hover {
		color: #000;
	}
}
.site-description {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}
