//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #bbbfc2;
$color-font:         #65686f;
$color-link:         #6fbee7;
$color-link-visited: $color-link;
$color-link-hover:   #000000;

// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-sans2: 'Source Sans Pro', sans-serif;
$font-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
