body {
  background-color: #bbbfc2;
}
.app {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
}
.main_content {
  display: flex;
  height: 600px;
  overflow: hidden;
}

#column{
  height: 50vh;
}
