@import '../../bower_components/normalize-css/normalize';
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid: true;
@import '../../bower_components/neat/app/assets/stylesheets/neat';

html {
  font-size: 10px;
}
body {
  background: #bbbfc2;
  color: #65686f;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.3rem;
}
main {
  @include outer-container(980px);
  background: #ffffff;
  margin-bottom: 45px;
  header {
    @include span-columns(12);
    background: url(/assets/images/header.jpg) no-repeat;
    color: #ffffff;
    height: 276px;
    margin-bottom: 62px;
    h1 {
      font-family: 'Open Sans','Helvetica', 'Arial', sans-serif;
      font-size: 32px;
      font-weight: 300;
      line-height: 44px;
      margin: 0;
      padding: 44px 67px 0 300px;
      text-align: right;
    }
    span.mainHeader {
      font-family: 'Open Sans','Helvetica', 'Arial', sans-serif;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  nav {
    @include span-columns(3.86);
    height: 680px;
    background: #eeeeee;
    background: -moz-linear-gradient(left,  #ebeced 95%, #d1d5d6 100%);
    background: -webkit-linear-gradient(left,  #ebeced 95%,#d1d5d6 100%);
    background: linear-gradient(to right,  #ebeced 95%,#d1d5d6 100%);
  }
  section.babySteps {
    @include span-columns(8.14);
    height: 680px;
    overflow: hidden;
    position: relative;
  }
  article.babyStep {
    height: 680px;
  }
}
ul {
  list-style: none;
}
main:before {
  @include outer-container(980px);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-bottom-right-radius: 220px 620px; // small x + big y = taper
    -moz-border-radius-bottomright: 220px 620px;
    -webkit-border-bottom-right-radius: 220px 620px;
    border-bottom-left-radius: 220px 620px; // small x + big y = taper
    -moz-border-radius-bottomleft: 220px 620px;
    -webkit-border-bottom-left-radius: 220px 620px;
    box-shadow: 0 0 24px #555;
    -webkit-box-shadow: 0 0 24px #555;
    content: " ";
    display: block;
    height: 1025px;
    position: absolute;
    top: -9px;
    width: 100%;
    z-index: -1;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
.smoothScroll {
  border-bottom: 1px solid #ffffff;
  display:block;
  line-height: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
a.smoothScroll:active {
  background-color: #fff;
}
.aStep1 {
  background: url(/assets/images/icons/individual/icons_small_bs1.png) no-repeat 256px 18px;
}
.aStep1:hover {
  background: url(/assets/images/icons/individual/icons_small_bs1_blue.png) no-repeat 256px 18px;
}
.aStep2 {
  background: url(/assets/images/icons/individual/icons_small_bs2.png) no-repeat 256px 18px;
}
.aStep2:hover {
  background: url(/assets/images/icons/individual/icons_small_bs2_blue.png) no-repeat 256px 18px;
}
.aStep3 {
  background: url(/assets/images/icons/individual/icons_small_bs3.png) no-repeat 256px 18px;
}
.aStep3:hover {
  background: url(/assets/images/icons/individual/icons_small_bs3_blue.png) no-repeat 256px 18px;
}
.aStep4 {
  background: url(/assets/images/icons/individual/icons_small_bs4.png) no-repeat 256px 18px;
}
.aStep4:hover {
  background: url(/assets/images/icons/individual/icons_small_bs4_blue.png) no-repeat 256px 18px;
}
.aStep5 {
  background: url(/assets/images/icons/individual/icons_small_bs5.png) no-repeat 256px 18px;
}
.aStep5:hover {
  background: url(/assets/images/icons/individual/icons_small_bs5_blue.png) no-repeat 256px 18px;
}
.aStep6 {
  background: url(/assets/images/icons/individual/icons_small_bs6.png) no-repeat 256px 18px;
}
.aStep6:hover {
  background: url(/assets/images/icons/individual/icons_small_bs6_blue.png) no-repeat 256px 18px;
}
.aStep7 {
  background: url(/assets/images/icons/individual/icons_small_bs7.png) no-repeat 256px 18px;
}
.aStep7:hover {
  background: url(/assets/images/icons/individual/icons_small_bs7_blue.png) no-repeat 256px 18px;
}
