/* Variables */

/* Color Values */
$bodyBgColor: #bbbfc2;
$contentBgColor: #fff;
$leftNavBgColor: #ebeced;

$primaryColor: #36abe1;
$secondaryColor: #5c6366;

$navColor: #9ba0a4;
$navSelectedColor: $primaryColor;

$copyColor: #65686f;
$copyBlueColor: #6fbee7;
/* End color values */


/* End Variables */