body {
  background: $gray-bg;
  margin: 0;
}

.c-container {
  margin: auto;
  width: 960px;
}

.c-wrapper {
  background: $white;
  float: left;
  position: relative;
}

.c-shadow {
  position: absolute;

  &--left {
    left: -12px;
    transform: rotate(-0.5deg);
    z-index: -1;
  }

  &--right {
    right: -12px;
    transform: rotate(0.5deg);
    z-index: -1;
  }

  &--bottom {
    bottom: 0;
  }
}

.c-banner {
  margin-bottom: 60px;

  img {
    width: 100%;
  }
}