/**********/
// Colors //

$sideNav-blue: #36ABE1;
$sideNav-gray: #9BA0A4;

$step-header:  #36ABE1;
$step-sub-header: #5C6366;
$step-text: #65686f;
$step-links: #6FBEE7;

$background-gray: #EBECED;
$background-white: #FFFFFF;

/**********/

body {
  height: 100%;
  width: 980px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.header{
  width: 100%;
  height: 276;
}

.sideNav {
  margin-top: 60px;
  width: 300px;
  height: 600px;
  overflow: hidden;
  position:absolute;

  li {
    border-bottom: 1px solid $background-white;
  }

  .menuStep {
    height: 50px;
    padding-left: 110px;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;

    a {
      color: $sideNav-gray;
    }

    img {
      display: inline-block;
      height: 30px;
      margin-top: -5px;
      margin-right: -50px;
      transform:scale(0.75);
      -moz-transform:scale(0.75);
      -webkit-transform:scale(0.75);
    }
  }
  background-color: #EBECED;
}

.stepsContent {
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  width: 680px;
  margin-left: 300px;
  height: 420px;
  overflow: auto;
 }

.stepContainer {
  padding-top: 15px;
  padding-left: 15px;
  height: 420px;

  .stepHeader {
    padding-left: 10px;

    img {
      padding-top: 7px;
      margin-left: -25px;
      -moz-transform:scale(1.25);
      -webkit-transform:scale(1.25);
      transform:scale(1.25);
    }

    h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 20px;
      color: $step-header;
    }

    h2 {
      margin-top: 0px;
      margin-left: 5px !important;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      color: $step-sub-header;
    }
  }

  .stepText {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: $step-text;
  }

  .stepSocial {
    padding-top: 24px;;
  }

  .socialLink {
    font-size: 13px;
    font-weight: 400;
    color: $step-links;
  }

  .socialLinkText {
    display: inline;
    font-size: 13px;
    font-weight: 400;
    color: $step-text;
    margin: 0;
  }
}

.active {
  background: $background-white;

  a {
    color: $sideNav-blue !important;
  }

  img:first-child {
    visibility: visible;
  }
  img:nth-child(2) {
    visibility: hidden;
  }
}

.navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent !important;
  border-bottom: 1px solid $background-white !important;
}
