body, html {
  margin: 0;
  padding: 0;
  background-color: #bbbfc2 !important;
}
a {
  text-decoration: none !important;
}

#babyStep1,
#babyStep2,
#babyStep3,
#babyStep4,
#babyStep5,
#babyStep6,
#babyStep7 {
  display: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#babyStep1:target,
#babyStep2:target,
#babyStep3:target,
#babyStep4:target,
#babyStep5:target,
#babyStep6:target,
#babyStep7:target {
  margin-left: 25em;
  height: 0;
  display: block;
  transform: scale(1);
  opacity: 1;
  animation: animate 0.3s ease-in-out;

  p {
    font-family: Helvetica;
    font-size: 13px;
    color: #65686f;
    line-height: 18px;
  }
}

@keyframes animate {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.babyStepsNav{
  margin-bottom: 0;
  margin-right: 70px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 62.3%;
  list-style-type: none;
  text-align: right;
  cursor: pointer; 
  float: left;
  background-image: linear-gradient(to right, #ebeced 90%, #d1d5d6);

  li {
    margin-top: -10px;
    padding: 0px;
    height: 50px;
  } 

  a > p > img:nth-of-type(2) {
    display: none;
  }

  a:hover {
    p > img {
      display: none;
    }
    p > img:nth-of-type(2) {
      display: inline-block;
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  p:hover {
   background-color: white;
   height: 61px;
   color: #2FACE1;
   font-weight: 400;
   transition: font-weight, background-color 0.3s, color 0.3s ease-in-out;
  }

  p {
    margin: 0px;
    padding: 0px;
    color: #9ba0a4;
    line-height: 60px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
  }

  p > img {
    margin-left: 24px;
    margin-right: 24px;
  }
}


.babyStepsNav > img {
  margin: 0px;
  padding: 0px;
  filter: contrast(2);
  -webkit-filter: contrast(2);
  -moz-filter: contrast(2);
  -o-filter: contrast(2);
  -ms-filter: contrast(2);
}

.banner {
  width: 100%;
  margin-bottom: 60px;
}

.bottomShadow {
  width: 100%;
}

.container {
  padding-bottom: 50%;
}

.description{
  margin-right: 70px;
}

.friends {
  
}

.highlight {

  p {    
    background-color: white;
    height: 61px;
    color: #2FACE1;
    font-weight: 400;
  }

  p > img {
    display: none;
  }

  p > img:nth-of-type(2) {
    display: inline-block !important;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.leftShadow {
  margin-left: -15px;
  height: 100%;
  float: left;
}

.main {
  padding-bottom: 100%;
  background-color: white;

}

.rightShadow {
  margin-right: -15px;
  height: 100%;
  float: right;
}

.stepTitle {
  color: #36abe1;
  margin-bottom: 24px;
}


