/*
    Page Styles for Baby Steps Front-end Developer Exercise
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.page-container {
    max-width: 980px;
    margin: 0 auto;
}