/*
    Page Styles for Baby Steps Front-end Developer Exercise
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    background-color: #bbbfc2;
}

.page-container {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px #7C8083;
}

section.baby-steps {
    height: 584px;
}
