{
  "rules": {
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "strict": [
      1,
      "global"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "operator-assignment": [2, "always"],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-bitwise": 2,
    "global-require": 2,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "no-unneeded-ternary": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2
  },
  "env": {
    "node": true,
    "browser": true,
  },
  "extends": "eslint:recommended",
}
