.btn, button{
    font-weight: 600!important;
    letter-spacing: 0.01rem!important;
    text-transform: none!important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    
}