.header {
  // layout
  background: #000 url('../images/header.jpg') no-repeat 0 0;
  height: 176px;
  padding: 50px 70px;
  width: auto;

  // formatting
  color: $headerFontColor;
  font-family: $headerFont;
  text-align: right;
}

.header__container {
  width: 60%;
  margin-left: 40%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.header__subtitle {
  // layout
  margin-top: 15px;
  width: 100%;

  // formatting
  font-size: 50px;
  font-weight: $fontBold;
  line-height: 48px;
  text-transform: uppercase;
}

.header__title {
  // layout
  width: 100%;

  // formatting
  font-size: 32px;
  font-weight: $fontLight;
  line-height: 15px;
}
