@font-face{
  font-family: 'Source Sans Pro Regular';
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family:'Source Sans Pro semi-bold';
  src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype")
}

@font-face {
  font-family:'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.otf") format("opentype");
}

body {
  margin:0px;
  background-color: #bbbfc2;

}

a {
  color: #6fbee7;
  text-decoration: none;
}

.header-img{
  padding-bottom:60px;
  background-color: white;
}

.baby-steps{
  position: relative;
  display: block;
  margin-top:-5px;
  width:980px;
  height:630px;
  background-color:white;
}

section {
  position: absolute;
  display:block;
  z-index: 0;
}
section .tab{
  background-image: linear-gradient(90deg, rgba(235,236,237,1) 95%, rgba(209,213,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ebeced', endColorstr='#d1d5d6');
  float: left;
  height:89px;
  padding-right:24px;
  cursor: pointer;
  left:-90px;
}
.tab-label {
  font-family:"Source Sans Pro Regular";
  font-size:18px;
  color: #9ba0a4;
  line-height: 60px;
  display:inline;
  background-position: 0px,0px;
}

.tab-img {
  display:inline-block;
  vertical-align: middle;
  width:30px;
  height:25px;
}
#tab1 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: 0px;
}
#tab2 {
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y: -25px;
}
#tab3{
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y: -50px;
}
#tab4{
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y: -75px;
}
#tab5{
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y:-100px;
}
#tab6{
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y: -125px;
}
#tab7{
  background: url(../images/icons/sprites/icons_small.png);
  background-position-y: -150px;
}
.baby-steps section:first-child{
  z-index: 1;
} 
.baby-steps section:nth-child(2){
  top:90px;
}
.baby-steps section:nth-child(2) .step-container{
  top:-90px;
}
.baby-steps section:nth-child(3){
  top:180px;
}
.baby-steps section:nth-child(3) .step-container{
  top:-180px;
}
.baby-steps section:nth-child(4){
  top:270px;
}
.baby-steps section:nth-child(4) .step-container{
  top:-270px;
}
.baby-steps section:nth-child(5){
  top:360px;
}
.baby-steps section:nth-child(5) .step-container{
  top:-360px;
}
.baby-steps section:nth-child(6){
  top:450px;
}
.baby-steps section:nth-child(6) .step-container{
  top:-450px;
}
.baby-steps section:nth-child(7){
  top:540px;
}
.baby-steps section:nth-child(7) .step-container{
  top:-540px;
}

section:target,
section:target .tab{
  z-index: 2;
  background-color: white;
  background-image:none;
  filter:none;
}

section:target a .tab #tab1 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -175px; 
}

section:target a .tab #tab2 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -200px; 
}
section:target a .tab #tab3 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -225px; 
}
section:target a .tab #tab4 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -250px; 
}
section:target a .tab #tab5 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -275px; 
}
section:target a .tab #tab6 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -300px; 
}
section:target a .tab #tab7 {
  background:url(../images/icons/sprites/icons_small.png); 
  background-position-y: -325px; 
}

section:target .tab .tab-label{
  color:#36abe1;
}


@keyframes fadein{
  from{
    transform:translate(-20px);
    opacity: 0
  }
  to{
    opacity: 1;
    transform:translate(0px);
  }
}
.step-container {
  float:right;
  padding-left:70px;
  padding-right:70px;
  width: 646px;
  background-color:white;
  z-index: 0;
  height:630px;
  position: absolute;
  left:194px;
}

section:target > .step-container >* {
  animation: fadein;
  animation-duration: 1s;
  animation-delay:0s;
  animation-fill-mode: forwards;
}

.step-header{
  font-family: 'Source Sans Pro semi-bold';
  font-size: 30px;
  color: #36abe1;
  line-height: 20px;
}

.step-subheader {
  font-family: 'Source Sans Pro light';
  font-size:18px;
  color:#5c6366;
  line-height: 20px;
  margin-bottom:24px;
}

.description-text {
  font-family: Helvetica;
  font-size: 13px;
  color: #65686f;
  line-height: 18px;
  margin-bottom:40px;
}

.link-text{
  font-family: Helvetica;
  font-size: 13px;
  color: #65686f;
}
