h2 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: $fontBlue;
    line-height: 20px;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $titleGray;
    line-height: 18px;
}