// Step and info headers
@header_blue: #36abe1;
@header_gray: #9ba0a4;

// Info subheads
@subhead_gray: #5c6366;

// Info body and social sections
@body_gray: #65686f;
@body_link: #6fbee7;

// Backgrounds
@background: #bbbfc2;
@white: #fff;

