@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Source+Sans+Pro:400,600,300);

@body_font: 'Helvetica', 'Sans Serif';
@subhead_font: 'Source Sans Pro', 'Sans Serif';
@header_font: 'Open Sans', 'Sans Serif';

@body_size: 13px;
@subhead_size: 18px;
@header_size: 50px;