header {
	position: relative;
	img {
		display: block;
	}
	.headline {
		text-align: right;
		color: @white;
		position: absolute;
		top: 0;
		right: 0;
		padding: 50px 70px;
		width: 50%;
		span {
			font-family: @subhead_font;
			font-weight: 200;
			font-size: 32px;
		}
		h1 {
			margin: 0;
			line-height: 48px;
			text-transform: uppercase;
		}
	}
}