.main {
	.step {
		display: none;
	}
	.active {
		display: block;
	}

	img {
		float: left;
		margin-right: 20px;
	}

	p {
		line-height: 18px;
	}

	.heading {
		padding-top: 10px;
		margin-bottom: 24px;
		line-height: 20px;

		h2 {
			color: @header_blue;
			font-size: 30px;
			margin: 0;
		}
		p {
			margin: 0;
			padding-top: 5px;
			color: @subhead_gray;
			font-family: @subhead_font;
			font-weight: 200;
			font-size: @subhead_size;
			line-height: 20px;
		}
	}

	.social {
		margin-top: 40px;
	}
}