* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #bbbfc2;
}

body {
  font-family: Helvetica, 'Source Sans Pro', sans-serif;
  color: #65686f;
  width: 980px;
  margin: 0 auto;
}
