* {
    box-sizing: border-box;
}

body {
    background-color: $body;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    font-family: $font_main;
    font-size: 14px;
    line-height: 1.5;
    color: $body_text;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 40px;
    padding: 0 15px 30px;
    position: relative;

    &:before,
    &:after {
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-position: center top;
        content: '';
    }

    &:before {
        left: 0;
        background-image: url(/assets/images/shadow_left.jpg);
    }

    &:after {
        right: 0;
        background-image: url(/assets/images/shadow_right.jpg);
    }
}

#masthead {
    background: url(/assets/images/header.jpg);
    height: 276px;
    padding: 50px 70px;
    text-align: right;

    h1 {
        max-width: 400px;
        margin-left: auto;
    }
}

#page {
    padding-top: 60px;
    display: flex;
    min-height: 600px;
    background-color: $white;
    position: relative;

    &:after {
        content: '';
        background-image: url(/assets/images/shadow_bottom.jpg);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
    }
}

nav {
    flex: 0 1 auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ECECEE;
    position: relative;
    box-shadow: inset -8px 0 8px -4px rgba(0, 0, 0, 0.2);

    .indicator {
        width: 100%;
        height: 62px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: 1;
        transition: all 0.5s ease-out;
    }

    .step-nav {
        padding: 16px 24px;
        display: block;
        position: relative;
        z-index: 2;
        font-family: $font_alt;
        color: $gray;
        text-decoration: none;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .step-icon {
            background-image: url(/assets/images/icons/sprites/icons_small.png);
            background-repeat: no-repeat;
            background-position: 0 1px;
            display: inline-block;
            width: 30px;
            height: 26px;
            flex: 0 0 auto;
            margin-left: 20px;
        }

        &.step2 {
            .step-icon {
                background-position: 0 -22px;
            }
        }

        &.step3 {
            .step-icon {
                background-position: 0 -48px;
            }
        }

        &.step4 {
            .step-icon {
                background-position: 0 -74px;
            }
        }

        &.step5 {
            .step-icon {
                background-position: 0 -100px;
            }
        }

        &.step6 {
            .step-icon {
                background-position: 0 -125px;
                height: 25px;
            }
        }

        &.step7 {
            .step-icon {
                background-position: 0 -150px;
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $white;
        }
    }

    span.active .step-nav,
    .step-nav:hover,
    .step-nav:focus {
        color: $accent;
        font-weight: 600;

        &.step1 {
            .step-icon {
                background-position: 0 -175px;
                height: 25px;
            }
        }

        &.step2 {
            .step-icon {
                background-position: 0 -197px;
            }
        }

        &.step3 {
            .step-icon {
                background-position: 0 -223px;
            }
        }

        &.step4 {
            .step-icon {
                background-position: 0 -249px;
            }
        }

        &.step5 {
            .step-icon {
                background-position: 0 -275px;
            }
        }

        &.step6 {
            .step-icon {
                background-position: 0 -300px;
            }
        }

        &.step7 {
            .step-icon {
                background-position: 0 -325px;
            }
        }
    }

    span.active {
        &:nth-child(2) ~ .indicator { top: 62px; }
        &:nth-child(3) ~ .indicator { top: 124px; }
        &:nth-child(4) ~ .indicator { top: 186px; }
        &:nth-child(5) ~ .indicator { top: 248px; }
        &:nth-child(6) ~ .indicator { top: 310px; }
        &:nth-child(7) ~ .indicator { top: 372px; }
    }
}

#content {
    flex: 1 1 auto;
    padding: 0 0 40px;
    position: relative;
    overflow: hidden;

    a {
        color: $links;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
            color: darken($links,10);
        }
    }

    .step-article {
        padding: 0 60px 40px;

        .step-header {
            background-image: url(/assets/images/icons/sprites/icons_large.png);
            background-repeat: no-repeat;
            background-position: 0 -454px;
            padding-left: 90px;
            min-height: 68px;

            h2 {
                padding-top: 5px;
            }
        }

        &#step2 .step-header {
            background-position: 0 -516px;
        }

        &#step3 .step-header {
            background-position: 0 -581px;
        }

        &#step4 .step-header {
            background-position: 0 -645px;
        }

        &#step5 .step-header {
            background-position: 0 -712px;
        }

        &#step6 .step-header {
            background-position: 0 -778px;
            min-height: 64px;
        }

        &#step7 .step-header {
            background-position: 0 -842px;
        }
    }

    .friends {
        display: none;
        visibility: hidden;
    }
}

.js-enabled {
    #content {
        .step-article {
            position: absolute;
            // width: 100%;
            // height: 100%;
            transition: all 0.6s ease-out;
            transform: translate3d(0, -100%, 0);
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }

        #step1.active { transform: translate3d(0, 0, 0);
            ~ #step2 { transform: translate3d(0, 100%, 0); }
            ~ #step3 { transform: translate3d(0, 200%, 0); }
            ~ #step4 { transform: translate3d(0, 300%, 0); }
            ~ #step5 { transform: translate3d(0, 400%, 0); }
            ~ #step6 { transform: translate3d(0, 500%, 0); }
            ~ #step7 { transform: translate3d(0, 600%, 0); }
        }

        #step2.active { transform: translate3d(0, 0, 0);
            ~ #step3 { transform: translate3d(0, 100%, 0); }
            ~ #step4 { transform: translate3d(0, 200%, 0); }
            ~ #step5 { transform: translate3d(0, 300%, 0); }
            ~ #step6 { transform: translate3d(0, 400%, 0); }
            ~ #step7 { transform: translate3d(0, 500%, 0); }
        }

        #step3.active { transform: translate3d(0, 0, 0);
            ~ #step4 { transform: translate3d(0, 100%, 0); }
            ~ #step5 { transform: translate3d(0, 200%, 0); }
            ~ #step6 { transform: translate3d(0, 300%, 0); }
            ~ #step7 { transform: translate3d(0, 400%, 0); }
        }

        #step4.active { transform: translate3d(0, 0, 0);
            ~ #step5 { transform: translate3d(0, 100%, 0); }
            ~ #step6 { transform: translate3d(0, 200%, 0); }
            ~ #step7 { transform: translate3d(0, 300%, 0); }
        }

        #step5.active { transform: translate3d(0, 0, 0);
            ~ #step6 { transform: translate3d(0, 100%, 0); }
            ~ #step7 { transform: translate3d(0, 200%, 0); }
        }

        #step6.active { transform: translate3d(0, 0, 0);
            ~ #step7 { transform: translate3d(0, 100%, 0); }
        }

        #step7.active { transform: translate3d(0, 0, 0); }

        .friends {
            display: block;
            visibility: visible;
            margin-top: 30px;
        }
    }
}