* {
    box-sizing: border-box;
}

body {
    background-color: $body;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    font-family: $font_main;
    font-size: 14px;
    line-height: 1.5;
    color: $body_text;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 40px;
    padding: 0 15px 30px;
    position: relative;

    &:before,
    &:after {
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-position: center top;
        content: '';
    }

    &:before {
        left: 0;
        background-image: url(/assets/images/shadow_left.jpg);
    }

    &:after {
        right: 0;
        background-image: url(/assets/images/shadow_right.jpg);
    }
}