$headline-text: #fff;

header {
	background-image: url('../images/header.jpg');
	height: 276px;
}

h1 {
	color: $headline-text;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 50px 70px 0 0;
	text-align: right;

	.light {
		font-size: 32px;
		font-weight: 300;
		line-height: 15px;
	}
	.bold {
		font-size: 50px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
	}
}
