/*---------------------------------
		SIDEBAR - NAV TABS
-----------------------------------*/
$bs-tab-text: #9ba0a4;
$bs-tab-text-selected: #36abe1;


.content {
	padding-top: 60px;
	background-color: #fff;

	.nav-tabs {
		background: -webkit-linear-gradient(left, #ebeced 95%, #d1d5d6 100%);
  		background: -moz-linear-gradient(left, #ebeced 95%, #d1d5d6 100%);
  		background: -o-linear-gradient(left, #ebeced 95%, #d1d5d6 100%);
  		background: -ms-linear-gradient(left, #ebeced 95%, #d1d5d6 100%);
  		background: linear-gradient(to right, #ebeced 95%, #d1d5d6 100%);
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ebeced, endColorstr=#d1d5d6,GradientType=1 );
		display: inline-block;
		float: left;
		height: 617px;
		width: 300px;
		position: relative;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		
			li {
				box-sizing: border-box;
				border-bottom: 1px solid #fff;
				color: $bs-tab-text;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				line-height: 59px;
				text-align: right;
				position: relative;
				width: 100%;

				a, a:hover, a:active, a:visited {
					text-decoration: none;
					color: inherit;
					display: inline-block;
					width: 100%;
					cursor: pointer;
					transition: background-color .7s;
				}
				
				a:after {
					content: "";
					display: block;
					background: url("../images/icons/sprites/icons_small.png") no-repeat;
					width: 30px;
					height: 25px;
					float: right;
					margin: 17px 24px 0 30px;
				}
				
				//nav tab icons
				a[href="#baby-step-1"]:after {
					background-position: 0 0;
				}
				
				a[href="#baby-step-1"].selected:after {
					background-position: 0 -175px;
				}
				
				a[href="#baby-step-2"]:after {
					background-position: 0 -25px;
				}
				
				a[href="#baby-step-2"].selected:after {
					background-position: 0 -200px;
				}
				
				a[href="#baby-step-3"]:after {
					background-position: 0 -50px;
				}
				
				a[href="#baby-step-3"].selected:after {
					background-position: 0 -225px;
				}
				
				a[href="#baby-step-4"]:after {
					background-position: 0 -75px;
				}
				
				a[href="#baby-step-4"].selected:after {
					background-position: 0 -250px;
				}
				
				a[href="#baby-step-5"]:after {
					background-position: 0 -100px;
				}
				
				a[href="#baby-step-5"].selected:after {
					background-position: 0 -275px;
				}
				
				a[href="#baby-step-6"]:after {
					background-position: 0 -125px;
				}
				
				a[href="#baby-step-6"].selected:after {
					background-position: 0 -300px;
				}
				
				a[href="#baby-step-7"]:after {
					background-position: 0 -150px;
				}
				
				a[href="#baby-step-7"].selected:after {
					background-position: 0 -325px;
				}
			}

			a.selected, a.selected:hover, a.selected:visited {
				background-color: #fff;
				color: $bs-tab-text-selected;
				font-weight: 600;
			}	

		}

	}
}

