// Fonts
$font_main: Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$font_alt: 'Source Sans Pro', sans-serif;

// Colors
$white: #FFFFFF;
$body: #BBBFC2;
$body_text: #65686f;
$headings: #36abe1;
$subheadings: #5c6366;
$gray: #9ba0a4;
$accent: #36abe1;
$links: #6fbee7;