//Color Declarations

$blue-primary    : #36abe1;
$gray-primary    : #ececee;
$gray-secondary  : #5c6366;
$gray-tertiary   : #ececee;

$white-primary   : #ffffff;

//bg colors
$bg-primary      : #bbbfc2;
$alert-bg        : #ffffc6;

//tect color
$list-text       : #9ba0a4;
$text-color      : #65686f;



//Placeholder Declarations