@import 'variables';
.aside-page{
    top:0 !important;
    left:0 !important;

    @media screen and (max-width:767px){
        width:100% !important;
    }
}
.steps-list {

    li {
        border-bottom:solid 1px $white-primary;

        &.is-active{
            background:$white-primary;
        }
        a {
            &:after{
                display:none;
            }
        }

    }
}