$ltBlue: #36abe1;
$darkGray: #65686f;
$grayNav1: #ebeced;
$grayNav2: #d1d5d6;

@import "bourbon/bourbon";
@import "partials/base";
@import "partials/header";
@import "partials/navigation";
@import "partials/content";
@import "partials/animation";


