// main: styles.sass

// colors
$primary: #36abe1
$grey: #bbbfc2
$sub: #5c6366
$text: #65686f
$tab: #9ba0a4

// fonts
$primaryFont: 'Source Sans Pro', sans-serif
$secondaryFont: 'Open Sans', sans-serif
$thirdFont: 'Helvetica', sans-serif

html
  font-size: 12px
  line-height: 1.66
  overflow-y: hidden
  body
    a
      text-decoration: none
    p
      color: $text
      font-family: $thirdFont
      font-size: 13px
    h1
      color: white
      font-family: $secondaryFont
    h2
      color: $primary
      font-family: $primaryFont
      font-size: 30px
      font-weight: 600
    h3
      color: $sub
      font-family: $primaryFont
      font-size: 18px
      line-height: 20px
      font-weight: 300
    h4
      color: $tab
      font-family: $primaryFont
      font-size: 18px
      font-weight: 400
