//
// CONTAINER
//


.container-shadow {
  margin: auto;
  max-width: 980px;
  border-radius: 0 0 25% 25%;
  box-shadow: 0 0 20px fade(black, 25%);
}

.container {
  position: relative;
  background: white;
}