$page-content-top-padding: 60px;
$step-tabs-width: 30%;
$step-tabs-height: 60px;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

body {
  height: 200%;
  background-color: $bg-grey;
}
