//
// VARIABLES
//


// FONTS

@ff-default: Helvetica, Arial, sans-serif;
@ff-headings: "Source Sans Pro", @ff-default;
@ff-headings-alt: "Open Sans", @ff-headings;


// COLORS

@co-bg-page: #bbbfc2;
@co-bg-nav: #ebeced;
@co-bg-nav-shadow: #d1d5d6;

@co-text: #65686f;
@co-text-titles: #36abe1;
@co-text-subtitles: #5c6366;
@co-text-links: #6fbee7;
@co-text-nav-links: #9ba0a4;


// FILE PATHS

@pth-img: ~"../../images/";


// MEDIA QUERIES

@mq-lg-min: ~"screen and (min-width: 980px)";
@mq-sm-max: ~"screen and (max-width: 979px)";