nav {
	background-color: $grey-light;
	position: absolute;
	width: 30%;
	max-width: 300px;
	top: 0;
	left: 0;
	bottom: 0;
	background-image: url(../images/shadow_left_nav.jpg);
	background-position: right;
	background-repeat: repeat-y;

	li {
		display: block;
		background-color: none;
		text-align: right;
		font-family: $font-secondary;
		font-size: 18px;
		line-height: 60px;
		font-weight: 400;
		color: $grey-med-2;
		border-bottom: 1px solid white;
		position: relative;
		z-index: 1;
		@include transition(0.2s)

		&:hover {
			text-decoration: none;
			background-color: rgba(255,255, 255, 0.35);
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
		}

		[class*="icon-"] {
			position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    width: 85px;
		    text-align: center;
		    padding: 0 24px;
		    font-size: 30px;
		    color: $grey-med-2;
		}
	}
}

.javascript-enabled nav li {
	&.active {
		font-weight: 600;
		color: $blue-med;

		&:before {
			opacity: 1;
			width: 100%;
		}

		[class*="icon-"] { 
			color: $blue-med;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		opacity: 0;
		background-color: white;
		@include transition(0.2s);
		z-index: -1;
	}
}