@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$primary-font: 'Helvetica';
$secondary-font: 'Source Sans Pro', sans-serif;
$primary-blue: #36abe1;
$secondary-blue: #6fbee7;
$primary-grey: #65686f;
$secondary-grey: #5c6366;
$aside-grey: #ebeced;
$aside-grey2: #d1d5d6;
