.baby-step-nav {
  float: left;
  width: 30%;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.baby-step-nav-item {
  background: #ebeced;
  border-bottom: 1px solid #fff;

  a {
    display: block;
    padding: 0 0 0 50%;
    color: #9ba0a4;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 60px;
    text-decoration:  none;
  }

  .baby-step-icon {
    margin: 0 0 0 1rem;
  }

  &.active,
  &:hover {
    background: #fff;

    a {
      color: $primary;
    }
  }
}
