.baby-step-icon {
  $icons: ticket chat bank graph book house hand;

  &.small {
    $height: 25px;

    display: inline-block;
    height: $height;
    width: 35px;
    background-image: url('/assets/images/icons/sprites/icons_small.png');
    background-repeat: no-repeat;

    @for $i from 1 through length($icons) {
      $icon: nth($icons, $i);
      $offset: -($height * ($i - 1));
      $hover-offset: -($height * length($icons));

      &.baby-step-icon--#{$icon} {
        background-position: 0 $offset;

        &.active,
        &:hover,
        a:hover & {
          background-position: 0 ($hover-offset + $offset);
        }
      }
    }
  }

  &.large {
    $height: 60px;

    display: inline-block;
    height: $height;
    width: 75px;
    background-image: url('/assets/images/icons/sprites/icons_large.png');
    background-repeat: no-repeat;

    @for $i from 1 through length($icons) {
      $icon: nth($icons, $i);

      // Excuse the magic numbers, restricted on time and just needed to get it working.
      $offset: -($height * ($i - 2)) - 2px;
      $hover-offset: -($height * length($icons)) - 33px;

      &.baby-step-icon--#{$icon} {
        background-position: 0 $offset;

        &.active,
        &:hover,
        a:hover & {
          background-position: 0 ($hover-offset + $offset);
        }
      }
    }
  }
}
