.content__wrapper {
  display: flex;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  background: #fff;
  padding-top: 60px;
}

.content {
  background: #fff;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  height: 90vh;
  padding-right: 70px;
  padding-left: 70px;
}

.content .h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  color: #36abe1;
}

.content .h2 .muted {
  color: #5c6366;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.25rem;
  margin-top: 8px;
}
