//
// RESET
//


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

a img {
  border: none;
}

img,
audio,
canvas,
video {
  max-width: 100%;
}