//
// TYPOGRAPHY
//


body {
  color: @co-text;
  font: 13px @ff-default;

  .font-smoothing;
}

p {
  margin-top: 24px;
  line-height: 18px;
}

a {
  color: @co-text-links;
  text-decoration: none;
  &:hover {
    color: shade(@co-text-links, 10%);
  }
}