@import '_box-sizing';
@import '_reset';


.body {
  margin: 0;
  color: white;
}
.dave {
  height: 40vh;
  width: 100%;
}
.main {
  display: flex;
  height: 60vh;
}
.left {
  width: 20%;
  padding: 1rem;
  background: #999 gradient;
}
.options {
  margin: 1rem 0;
  cursor: pointer;
}
.right {
  display: none;
  flex-grow: 1;
  padding: 1rem;
  background: purple;
}
#option1{
  display: block;
}
#option2{}
#option3{}
#option4{}