<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="assets/javascripts/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="assets/javascripts/app.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/app.css">

		<title>Front-End Developer Exercise</title>
	</head>
	<body>
		
		<div class="container">

			<div class="header">
				<img src="assets/images/header.jpg" title="" alt="Real Life, Love and Money with America's most trusted guy" />
				<div class="title">
					<small>Real Life, Love and Money with</small>
					AMERICA'S MOST<br />TRUSTED GUY
				</div>
			</div>

			<div class="body">
				<div class="step-navigation">
					<ul>
						<% _.forEach(steps, function (step) { %>
						<li>
							<a class="step-<%= step.id %>" data-step="<%= step.id %>" href="#step-<%= step.id %>">
								<%= step.title %>
							</a>
						</li>
						<% }); %>
					</ul>
				</div>
				<div class="steps-container">				
					<div class="viewing-pane">
						<div class="steps">
							<% _.forEach(steps, function (step) { %>
							<span id="step-<%= step.id %>" class="step step-<%= step.id %>">

								<span class="icon">
									<img src="assets/images/icons/individual/icons_large_bs<%= step.id %>_blue.png" alt="<%= step.title %> icon" />
								</span>

								<h2>
									<%= step.title %>
									<br />
									<small><%= step.subtitle %></small>
								</h2>

								<%= step.body %>

							</span>
							<% }); %>
						</div>
					</div>
					<div class="friends"></div>

				</div>
			</div>

		</div>

	</body>
</html>