@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Source+Sans+Pro:400,600,300);
body {
  margin: 0;
  background-color: #bbbfc2;
}
header,
.content {
  background-color: #ffffff;
  max-width: 980px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  font-family: 'Open Sans';
}
h2,
h3 {
  font-size: 18px;
  font-family: 'Source Sans Pro';
}
body {
  font-family: 'Helvetica';
  font-size: 13px;
  color: #65686f;
}
body a {
  color: #6fbee7;
}
body a:hover {
  color: #43aae0;
}
header {
  position: relative;
}
header img {
  display: block;
}
header .headline {
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px 70px;
  width: 50%;
}
header .headline span {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 32px;
}
header .headline h1 {
  margin: 0;
  line-height: 48px;
  text-transform: uppercase;
}
