// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Page Container & Shadows
.container-page {
  background: $content-bg;
  margin: auto;
  min-height: 724px;
  position: relative;
  width: 980px;

  .shadow-page-left,
  .shadow-page-right,
  .shadow-page-bottom {
    display: block;
    position: absolute;
  }

  .shadow-page-left,
  .shadow-page-right {
    height: 724px;
    top: 0;
    width: 15px;
  }

  .shadow-page-left {
    background-image: url('/assets/images/shadow_left.jpg');
    left: -15px;
  }

  .shadow-page-right {
    background-image: url('/assets/images/shadow_right.jpg');
    right: -15px;
  }

  .shadow-page-bottom {
    background-image: url('/assets/images/shadow_bottom.jpg');
    bottom: -30px;
    height: 30px;
    left: 0;
    width: 980px;
  }
}

// Header
header {
  background: url('/assets/images/header_text.jpg') no-repeat top left;
  height: 276px;
  margin: auto;
  width: 980px;
}

// Main Container Nav & Content
.container-main {
  padding-top: 60px;

  .nav-main {
    background: url('/assets/images/shadow_left_nav.jpg') repeat-y;
    display: inline-block;
    float: left;
    width: 300px;
  }

  .content-main {
    float: left;
    line-height: 18px;
    padding: 0 70px;
    width: 680px;

    h1,h2 {
      font-family: 'Source Sans Pro';
      font-weight: $font-weight-semibold;
      line-height: 20px;
      margin: 0;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      color: $gray-light-custom;
      font-size: 18px;
    }
  }
}
