// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Page Container & Shadows
.container-page {
  background: $content-bg;
  margin: auto;
  min-height: 724px;
  position: relative;
  width: 980px;

  .shadow-page-left,
  .shadow-page-right,
  .shadow-page-bottom {
    display: block;
    position: absolute;
  }

  .shadow-page-left,
  .shadow-page-right {
    height: 724px;
    top: 0;
    width: 15px;
  }

  .shadow-page-left {
    background-image: url('/assets/images/shadow_left.jpg');
    left: -15px;
  }

  .shadow-page-right {
    background-image: url('/assets/images/shadow_right.jpg');
    right: -15px;
  }

  .shadow-page-bottom {
    background-image: url('/assets/images/shadow_bottom.jpg');
    bottom: -30px;
    height: 30px;
    left: 0;
    width: 980px;
  }
}

// Header
header {
  background: url('/assets/images/header_text.jpg') no-repeat top left;
  height: 276px;
  margin: auto;
  width: 980px;
}

// Main Container, Nav & Content
.container-main {
  padding-top: 60px;

  // Main Nav
  .nav-main {
    background: url('/assets/images/shadow_left_nav.jpg') repeat-y;
    display: inline-block;
    float: left;
    min-height: 617px;
    width: 300px;

    li {
      a {
        border-bottom: 1px solid #fff;
        color: $gray-light-custom;
        font-family: 'Source Sans Pro';
        font-size: 18px;
        font-weight: $font-weight-regular;
        line-height: 60px;
        text-align:right;

        .nav-icon {
          display: inline-block;
          width: 77px;
          height: 65px;
          background-image: url(/assets/images/icons/sprites/icons_large.png);
          background-repeat: no-repeat;
          vertical-align: middle;
          margin: 0 24px;
        }

        .nav-icon-step1 {
          background-position: 0 -65px;
        }

        .nav-icon-step2 {
          background-position: 0 -130px;
        }

        .nav-icon-step3 {
          background-position: 0 -194px;
        }

        .nav-icon-step4 {
          background-position: 0 -259px;
        }

        .nav-icon-step5 {
          background-position: 0 -324px;
        }

        .nav-icon-step6 {
          background-position: 0 -389px;
        }

        .nav-icon-step7 {
          background-position: 0 -1px;
        }
      }

      a:hover {
        color: $link-hover-color;

        .nav-icon-step1 {
          background-position: 0 -518px;
        }

        .nav-icon-step2 {
          background-position: 0 -584px;
        }

        .nav-icon-step3 {
          background-position: 0 -647px;
        }

        .nav-icon-step4 {
          background-position: 0 -713px;
        }

        .nav-icon-step5 {
          background-position: 0 -777px;
        }

        .nav-icon-step6 {
          background-position: 0 -842px;
        }

        .nav-icon-step7 {
          background-position: 0 -454px;
        }
      }
    }
  }

  // Main Content
  .content-main {
    float: left;
    line-height: 18px;
    padding: 0 70px;
    width: 680px;

    h1,h2 {
      font-family: 'Source Sans Pro';
      font-weight: $font-weight-semibold;
      line-height: 20px;
      margin: 0;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      color: $gray-lighter-custom;
      font-size: 18px;
    }
  }
}
