/* Homepage Styles */

// Steps Content Styling
.content--main {
	overflow: hidden;
	position: relative;
}
.content--main-step {
	position: absolute;
	&.active {
		top: 0;
		opacity: 1;
    }
    &.hidden {
		top: -500px;
	    opacity: 0;
	}
	.step-heading {
		display: block;
		display: flex;
		display: -ms-flexbox;
		margin-bottom: 24px;
		overflow: hidden;
		width: 100%;
		figure {
			float: left;
			width: 77px;
			height: 65px;
		}
		.step-heading--text {
			float: left;
			width: 80%;
			margin-left: 24px;
			margin-top: 10px;
			h2 {
				color: #36abe1;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
				font-size: 30px;
				line-height: 20px;
				font-weight: 600;
				margin-bottom: 5px;
			}
			h3 {
				color: #5c6366;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
				font-size: 18px;
				line-height: 20px;
				font-weight: 300;
			}
		}
	}
	.step--content {
		p {
			color: #65686f;
			font-family: Helvetica, sans-serif;
			font-size: 13px;
			line-height: 18px;
			font-weight: normal;
			margin-bottom: 24px;
			a {
				color: #6fbee7;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
// Has CSS Transitions - Class applied to HTML with Modernizr
.csstransitions {
	.content--main-step {
		&.active {
			/* This timing applies on the way IN */
			transition-timing-function: ease-out;
			/* A litttttle slower on the way in */
			transition: 1s;
	    }
	    &.hidden {
			/* This timing applies on the way IN */
			transition-timing-function: ease-in;
			/* A litttttle slower on the way in */
			transition: 1s;
		}
	}
}