/* ===========================
   Base
   =========================== */

html, body {
	font-size: 62.5%;
}

body {
	background-color: $page;
	color: $text-primary;
	font-family: $font-primary;
	margin: 0;
	padding: 0;
}

a {
	color: $link-primary;
	text-decoration: none;
}

p {
	font-size: 1.3rem;
	line-height: 1.385;
}

#page {
	margin: 0 auto;
	position: relative;
	width: 98rem;

	&:before,
	&:after {
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		width: 1.5rem;
	}

	&:before {
		background: url('../images/shadow_left.jpg') no-repeat;
		left: -1.5rem;
	}

	&:after {
		background: url('../images/shadow_right.jpg') no-repeat;
		right: -1.5rem;
	}
}

.page-body {
	background-color: $basic;
	overflow: hidden;
	padding-bottom: 3rem;
	padding-top: 6rem;

	&:after {
		background: url('../images/shadow_bottom.jpg') no-repeat;
		bottom: 0;
		content: "";
		height: 3rem;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.step-links {
	background: rgb(235,236,237); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(235,236,237,1) 95%, rgba(209,213,214,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(235,236,237,1) 95%,rgba(209,213,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(235,236,237,1) 95%,rgba(209,213,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6',GradientType=1 ); /* IE6-9 */
	padding-bottom: 20rem;
	position: relative;
	width: 30rem;
}

.progress-bar {
	background-color: $basic;
	display: none;
	height: 6rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 30rem;

	&.active {
		display: block;
	}
}

.list-nav-links {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	li {
		border-top: 1px solid $basic;
		font-family: $font-secondary;
		font-size: 1.8rem;
		line-height: 3.33;
		list-style: none;
		padding-left: 13rem;

		a {
			color: $step-link;
			display: block;
			position: relative;

			&.active,
			&:hover {
				color: $link-hover;

				&:after {
					background-position-y: -175px;
				}
			}

			&:after {
				background-image: url('../images/icons/sprites/icons_small.png');
				background-repeat: no-repeat;
				content: "";	
				height: 2.5rem;
				margin-top: -1.2rem;
				position: absolute;
				right: 2.4rem;
				top: 50%;
				width: 3rem;
			}
		}

		&:nth-child(2) a {

			&:after  {
				background-position-y: -25px;
			}

			&.active,
			&:hover {

				&:after {
					background-position-y: -200px;
				}
			}
		}
		&:nth-child(3) a {

			&:after  {
				background-position-y: -50px;
			}
			&.active,
			&:hover {

				&:after {
					background-position-y: -225px;
				}
			}
		}

		&:nth-child(4) a {

			&:after  {
				background-position-y: -75px;
			}
			&.active,
			&:hover {

				&:after {
					background-position-y: -250px;
				}
			}
		}

		&:nth-child(5) a {

			&:after  {
				background-position-y: -100px;
			}
			&.active,
			&:hover {

				&:after {
					background-position-y: -275px;
				}
			}
		}

		&:nth-child(6) a {

			&:after  {
				background-position-y: -125px;
			}
			&.active,
			&:hover {

				&:after {
					background-position-y: -300px;
				}
			}
		}

		&:nth-child(7) a {

			&:after  {
				background-position-y: -150px;
			}
			&.active,
			&:hover {

				&:after {
					background-position-y: -325px;
				}
			}
		}
	}
}

main,
nav {
	float: left;
}

.page-content {
	box-sizing: border-box;
	padding: 0 7rem;
	width: 68rem;
}

.scroll-pane {
	max-height: 19.5rem;
	overflow: hidden;
}

.header-section,
.subheader-section {
	font-family: $font-secondary;
}

.header-section {
	color: $main-heading;
	font-size: 3rem;
	font-weight: 600;
	margin-top: 0;

	& + .subheader-section {
		margin-top: -2.5rem;
	}
}

.subheader-section {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.2;
}

.head-wrap {
	padding-left: 8rem;
	position: relative;

	&:before {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 0;
		content: "";
		height: 5.5rem;
		left: 0;
		position: absolute;
		width: 7rem;
	}
}

#step-1 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs1_blue.png');
	}
}

#step-2 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs2_blue.png');
	}
}
#step-3 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs3_blue.png');
	}
}

#step-4 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs4_blue.png');
	}
}

#step-5 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs5_blue.png');
	}
}

#step-6 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs6_blue.png');
	}
}


#step-7 {
	
	.head-wrap:before {
		background-image: url('../images/icons/individual/icons_large_bs7_blue.png');
	}
}