.ico{
	display: inline-block;

	&.ico-small{
		background-attachment: scroll;
		background-color: transparent;
		background-image: url($iconSpriteSmall);
		background-repeat: no-repeat;
		background-size: 30px 420px;
		height: $iconSizeSmall;
		width: $iconSizeSmall;

		&.ico-money{ background-position: 0 0; }
		&.ico-bubbles{ background-position: 0 -30px; }
		&.ico-piggybank{ background-position: 0 -60px; }
		&.ico-graph{ background-position: 0 -90px; }
		&.ico-book{ background-position: 0 -120px; }
		&.ico-house{ background-position: 0 -150px; }
		&.ico-hand{ background-position: 0 -180px; }

		.active &{
			&.ico-money{ background-position: 0 -210; }
			&.ico-bubbles{ background-position: 0 -240px; }
			&.ico-piggybank{ background-position: 0 -270px; }
			&.ico-graph{ background-position: 0 -300px; }
			&.ico-book{ background-position: 0 -330px; }
			&.ico-house{ background-position: 0 -360px; }
			&.ico-hand{ background-position: 0 -390px; }
		}
	}

	&.ico-large{
		background: transparent url($iconSpriteLarge) 0 0 no-repeat scroll;
		height: $iconSizeLarge;
		width: $iconSizeLarge;
	}
}