/* will be used for the iteration when @iconSetBGPositions() mixin is called below */
$iconSuffixes: (
	'money', 
	'bubbles', 
	'piggybank', 
	'graph', 
	'book', 
	'house', 
	'hand'
);

.ico{
	display: inline-block;

	&.ico-small{
		background-attachment: scroll;
		background-color: transparent;
		background-image: url($iconSpriteSmall);
		background-repeat: no-repeat;
		background-size: 30px 420px;
		height: $iconSizeSmall;
		width: $iconSizeSmall;

		/* output background positions for each icon; e.g. will output &.ico-bubbles{background-position: 0, -30px} */
		@include iconSetBGPositions(0, 0, 0, -30, $iconSuffixes, '&.ico-');

		&.active, .active &{
			/* output background positions for each icon; e.g. will output .active .ico-bubbles{background-position: 0, -240px} */
			@include iconSetBGPositions(0, -210, 0, -30, $iconSuffixes, '&.ico-');
		}
	}

	&.ico-large{
		background: transparent url($iconSpriteLarge) 0 0 no-repeat scroll;
		height: $iconSizeLarge;
		width: $iconSizeLarge;

		@include iconSetBGPositions(0, 0, 0, -80, $iconSuffixes, '&.ico-');

		&.active, .active &{
			@include iconSetBGPositions(0, -560, 0, -80, $iconSuffixes, '&.ico-');
		}
	}
}