@mixin horizontalGradientBG($startColor: rgba(0,0,0,0), $endColor: rgba(0,0,0,0.5), $fallbackImage: '', $fallbackColor: rgba(0,0,0,0))
{
	/* fallback */
	background-color: $fallbackColor;
	background-image: url($fallbackImage);
	background-repeat: repeat-y;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(left, $endColor, $startColor);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, $endColor, $startColor);

	/* IE 10 */
	background: -ms-linear-gradient(left, $endColor, $startColor);

	/* Opera 11.10+ */
	background: -o-linear-gradient(left, $endColor, $startColor);
}

@mixin iconSetBGPositions($xStart: 0, $yStart: 0, $xOffset: 0, $yOffset: 0, $classes: '', $prefix: '.', $in: 'px')
{
	@each $class in $classes {
		$i: index($classes, $class) - 1;
		#{$prefix}#{$class}{
			background-position: ($xStart + ($i * $xOffset))#{$in} ($yStart + ($i * $yOffset))#{$in};
		}
	}
}