body{
	background-color: $bodyBG;
}

#main{
	background-color: white;
	max-width: $wrapWidth;
	width: auto;

	&:before,
	&:after{
		background-attachment: scroll;
		background-position: 0 0;
		background-repeat: no-repeat;
		content: " ";
		display: inline-block;
		height: 100%;
		top: 0;
		position: absolute;
		width: 15px;
	}

	&:before{
		background-image: url(../images/shadow_left.jpg);
		left: -15px;
	}

	&:after{
		background-image: url(../images/shadow_right.jpg);
		right: -15px;
	}
}