$bodyBG: #bbbfc2;

$colorTextBase: #65686f;
$colorBlue: #68bbe5;

$wrapWidth: 980px;
$asideWidth: 30%;
$contentWidth: (100% - $asideWidth);

$asideBG: #ececee;
$asideShadowStart: #d1d5d6;
$asideShadowEnd: #ebeced;
$asideColorOff: #aeb2b5;
$asideColorOn: $colorBlue;

$helveticaFonts: 'Helvetica' sans-serif;
$openSansFonts: 'Open Sans', sans-serif;
$openSansProFonts: 'Source Sans Pro', sans-serif;

$iconSpriteSmall: "../images/icons.sprite-30x30.png";
$iconSizeSmall: 30px;

$iconSpriteLarge: "../images/icons.sprite-80x80.png";
$iconSizeLarge: 80px;