$wrapWidth: 980px;

$asideBG: #ececee;
$asideShadowStart: #d1d5d6;
$asideShadowEnd: #ebeced;
$asideColorOff: #aeb2b5;
$asideColorOn: #68bbe5;

$openSansFonts: 'Open Sans', sans-serif;
$openSansProFonts: 'Source Sans Pro', sans-serif;

$iconSpriteSmall: "../images/icons.sprite-30x30.png";
$iconSizeSmall: 30px;

$iconSpriteLarge: "../images/icons.sprite-80x80.png";
$iconSizeLarge: 80px;