@import "compass/css3";

// Sass Mixin 2 color gradient
@mixin linear-gradient($begin_color, $end_color) {
background: $begin_color; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(to right, $begin_color 90%, $end_color 100%); /* FF3.6+ */
background: -webkit-gradient(to right, color-stop(90%,$begin_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, $begin_color 90%,$end_color 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, $begin_color 90%,$end_color 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, $begin_color 90%,$end_color 100%); /* IE10+ */
background: linear-gradient(to right, $begin_color 90%,$end_color 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6',GradientType=1 ); /* IE6-8 */
}

body {
	opacity: 0;
	background:
	url(../images/shadow_bottom.jpg) 75px 970px no-repeat,
	url(../images/shadow_left.jpg) 77.5px top no-repeat,
	url(../images/shadow_right.jpg) 1068px top no-repeat;
	background-size:
	1010px 30px, // shadow-bottom.jpg
	15px 1000px, // shadow-left.jpg
	15px 1000px; // shadow-right.jpg
	background-color:#bbbfc2;
	height:1000px;
	width: 1200px;
}

header {
	background: url(../images/header_text.jpg) no-repeat;
	background-size: 980px 276px;
	width:980px;
	height:276px;
	margin:0 0 0 90px;
	box-shadow: 0 -5px 5px 5px rgba(200, 200, 200, 0.55);
}

#content-wrapper {
	background-color:#F2F2F2;
	height: 694px;
	width: 980px;
	margin:0 0 0 90px;
}

#steps-nav-panel {
	margin:60px 0 0 0;
	width:300px;
	display: inline-block;
	div {
		height: 207px;
		width:299px;
		margin: 0;
		border-right: 1px solid #C0C3C4;
		@include linear-gradient(#ebeced, #d1d5d6);
		img {
			
			position:relative;
			top:50px;
		}
	}
	ul {
		padding:0 0 0 0;
		@include linear-gradient(#ebeced, #d1d5d6);
		li {

			font: {
				family: 'Source Sans Pro', sans-serif;
				size:18px;
				}
			color:#9ba0a4;
			line-height: 60px;
			cursor:pointer;
			border: {
				right: 1px solid #C0C3C4;
				bottom: 1px solid #ffffff;
			}
			padding:0 0 0 2.5em;
			margin: 0;
			display: block;
			background-color:rgba(255, 255, 255, 0);
			@include transition-property(color, border-right, background-color);
			@include transition-duration(0.25s);
  			@include transition-timing-function(ease-in);
			a {
				font: {
					family: inherit;
					size:inherit;
				}
				padding: 0 0 0 4em;
				color:inherit;
				text-decoration:none;
			}

			img {
				position:relative;
				left:5px;
				vertical-align: middle;
				padding:0 24px 0 24px;
			}
		}
	}
}

li.active {
	border-right: none !important;
	font-weight: 600;
	color:#36abe1 !important;
	background-color:#F2F2F2 !important;
	padding:0 0 0 2.33em !important;
	@include transition-property(color, border-right, background-color);
  	@include transition-duration(0.25s);
  	@include transition-timing-function(ease-in);
}

article {

	display: inline !important;
	width:535px;
	height: 635px;
	margin: 60px 0 0 0;
	padding: 0 70px 0 70px;
	float:right;


	#step-title {
		display: inline-block;
		position:relative;
		bottom:0.5em;
		height: 50px;
		padding: 0 0 0 0.5em;
	}
	#step-number {
		font: {
			family:'Source Sans Pro', sans-serif;
			size:30px;
			weight: 600;
			}
		color:#36abe1;
		line-height: 20px;
		padding: 0 0 5px 0;

	}
	#step-detail {
		font: {
			family:'Source Sans Pro', sans-serif;
			size:18px;
			weight: 300;
			}
		color:#5c6366;
		line-height: 20px;
		padding: 5px 0 0 0;
	}
	#step-content {
		font:{
			family:Helvetica, sans-serif;
			size:13px;
			weight: normal;
			} 
		color:#65686f;
		line-height: 18px;

		padding:0px 0 40px 0;
	}
	#friends { 
		p {
			color:#65686f;
			font: {
				weight: normal;
				size:13px;
				family:Helvetica, sans-serif;
			}
		display: inline;
		}
		a {
			color:#6fbee7;
			font: {
				weight:normal;
				size:13px;
				family: Helvetica, sans-serif;
			}
		display: inline;
		}
	}
}
