<img class="large" src="/app/assets/images/icons/individual/icons_large_bs1_blue.png" alt="">
<h2 class="title">Baby Step 1</h2>
<h3 class="subtitle">$1,000 Emergency Fund</h3>

<p class="topP">An emergency fund is for those unexpected events in life that you can’t plan for: the loss of a job, an unexpected pregnancy, a faulty car transmission, and the list goes on and on. It’s not a matter of if these events will happen; it’s simply a matter of when they will happen.
</p>
<p>This beginning emergency fund will keep life’s little Murphies from turning into new debt while you work off the old debt. If a real emergency happens, you can handle it with your emergency fund. No more borrowing. It’s time to break the cycle of debt!</p>

