<img class="large" src="/app/assets/images/icons/individual/icons_large_bs4_blue.png" alt="">
<h2 class="title">Baby Step 4</h2>
<h3 class="subtitle">Invest 15% of household income for retirement</h3>
<p>When you reach this step, you’ll have no payments—except the house—and a fully funded emergency fund. Now it’s time to get serious about building wealth.</p>

<p>Dave suggests investing 15% of your household income into Roth IRAs and pre-tax retirement plans. Don’t invest more than that because the extra money will help you complete the next two steps: college savings and paying off your home early.</p>
