<img class="large" src="/app/assets/images/icons/individual/icons_large_bs7_blue.png" alt="">
<h2 class="title">Baby Step 7</h2>
<h3 class="subtitle">Build wealth and give!</h3>

<p class="topP">It’s time to build wealth and give like never before. Leave an inheritance for future generations, and bless others now with your excess. It's really the only way to live!</p>

<p>Golda Meir says, “You can’t shake hands with a clenched fist.” Vow to never hold your money so tightly that you never give any away. Hoarding money is not the way to wealth. Save for yourself, save for your family’s future, and be gracious enough to bless others. You can do all three at the same time.</p>
