/***********************************************************************************/
/* Website Styles Master Sheet */
/***********************************************************************************/
/* ---------- RESET ---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input {
  margin: 0;
  padding: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 100%; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

ul,
ol,
li {
  list-style-type: none; }

input,
textarea {
  outline: none; }

strong {
  font-weight: bold; }

.fr {
  float: right; }

.fl {
  float: left; }

.cb {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

.fr {
  float: right; }

.fl {
  float: left; }

.cb {
  clear: both; }

/***********************************************************************************/
/* CSS Variables */
/***********************************************************************************/
/***********************************************************************************/
/* Screen Sizes - Not Necessary Here*/
/***********************************************************************************/
/***********************************************************************************/
/* Basic Mixins */
/***********************************************************************************/
/***********************************************************************************/
/* All Styles for One-Pager */
/***********************************************************************************/
/***********************************************************************************/
/* General Body and Structure */
/***********************************************************************************/
body {
  font-size: 16px;
  line-height: 1.25em;
  font-family: Helvetica, Verdana, sans-serif;
  color: #65686f;
  background-color: #bbbfc2; }

.outer-page-wrap {
  max-width: 980px;
  margin: auto;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4); }

/***********************************************************************************/
/* Hero */
/***********************************************************************************/
.hero {
  width: 100%;
  height: 276px;
  background: url("../images/header.jpg") 0 0 no-repeat; }
  .hero__content {
    padding-top: 3.125rem;
    padding-right: 4.375rem; }
  .hero h1, .hero h2 {
    color: #FFFFFF;
    text-align: right; }
  .hero h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase; }
  .hero h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.9375rem; }

/***********************************************************************************/
/* Content Area */
/***********************************************************************************/
.main-content .container {
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  padding-top: 3.75rem;
  min-height: 675px; }

.menu {
  display: block;
  float: left;
  width: 300px;
  background: url("../images/shadow_left_nav.jpg") 0 0 repeat-y;
  position: relative; }
  .menu .bar {
    content: '';
    display: block;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: top 0.4s ease-in-out; }
  .menu li {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 3.75rem; }
    .menu li.active a {
      color: #36abe1; }
  .menu a {
    display: block;
    color: #9ba0a4;
    text-decoration: none;
    padding-right: 1.5rem;
    text-align: right;
    border-bottom: 2px solid #FFFFFF;
    transition: color 0.25s ease-in-out;
    position: relative;
    z-index: 2;
    width: 100%; }
    .menu a .icon {
      width: 30px;
      height: 25px;
      display: inline-block;
      margin-left: 1.875rem;
      background: url("../images/icons/sprites/icons_small.png") 0 0 no-repeat;
      position: relative;
      top: 7px; }
      .menu a .icon--1 {
        background-position: 0 0; }
      .menu a .icon--2 {
        background-position: 0 -25px; }
      .menu a .icon--3 {
        background-position: 0 -50px; }
      .menu a .icon--4 {
        background-position: 0 -75px; }
      .menu a .icon--5 {
        background-position: 0 -100px; }
      .menu a .icon--6 {
        background-position: 0 -125px; }
      .menu a .icon--7 {
        background-position: 0 -150px; }
    .menu a.active {
      color: #36abe1; }
      .menu a.active .icon--1 {
        background-position: 0 -175px; }
      .menu a.active .icon--2 {
        background-position: 0 -200px; }
      .menu a.active .icon--3 {
        background-position: 0 -225px; }
      .menu a.active .icon--4 {
        background-position: 0 -250px; }
      .menu a.active .icon--5 {
        background-position: 0 -275px; }
      .menu a.active .icon--6 {
        background-position: 0 -300px; }
      .menu a.active .icon--7 {
        background-position: 0 -325px; }

.content-area {
  background-color: #FFFFFF;
  display: block;
  float: left;
  width: 680px;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  position: relative; }
  .content-area p {
    color: #65686f;
    margin: 1.25rem 0;
    font-size: 0.8125rem;
    line-height: 1.125rem; }

.scroll-area {
  height: 300px;
  overflow-y: hidden;
  position: relative; }

.step-box {
  padding-bottom: 2.5rem;
  height: 300px; }
  .step-box__head {
    margin-bottom: 1.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    width: 100%; }
    .step-box__head h3 {
      color: #36abe1;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 1.25rem; }
    .step-box__head h4 {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-weight: 300;
      color: #5c6366;
      font-size: 1.125rem;
      line-height: 1.25rem;
      margin-top: 0.625rem; }
    .step-box__head-image {
      margin-right: 1.25rem; }
  .step-box p:first-child {
    margin-top: 0; }
  .step-box__friends {
    color: #65686f;
    margin: 1.25rem 0;
    font-size: 0.8125rem;
    line-height: 1.125rem; }
    .step-box__friends span {
      color: #36abe1;
      font-weight: 700; }
