body {
	background-color: @gray-dark;
}
.page {
	max-width: 980px;
	margin: 0 auto 50px auto;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,.25);
    position: relative;
	
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		width: 15px;
		height: 724px;
		top: 0;
	}
	&:before {
		left: -15px;
		background: url("@{images-path}/shadow_left.jpg") no-repeat;
	}
	&:after {
		right: -15px;
		background: url("@{images-path}/shadow_right.jpg") no-repeat;
	}
	
	> footer:after {
		content: "";
		display: block;
		position: absolute;
		width: 980px;
		height: 30px;
		bottom: -30px;
		background: url("@{images-path}/shadow_bottom.jpg") no-repeat;
	}
}