@bodyBkgr: #bbbfc2;
@pageBkgr: #fff;
@weight: 300;

@babyStepsLinkColor: #6fbee7;
@tabContentHeaderColor: #5c6366;
@tabContentHeaderFont: @weight 18px e('/') 20px 'Source Sans Pro', sans-serif;
@tabContentHeaderFirstLineFont: 700 30px e('/') 1 'Source Sans Pro', sans-serif;
@tabParagraphFont: @weight 13px e('/') 18px 'Helvetica', sans-serif;