$color-gray: #bbbfc2;
$color-white: #ffffff;
$color-blue: #5c6366;
$color-text: #65686f;
$color-light-gray: #ebeced;
$color-gradient: #d1d5d6;
$color-link: #6fbee7;
$color-nav: #9ba0a4;
$color-nav-hover: #36abe1;
