
$page_height:	955px;
$padding-header-top:	50px;
$gutter-width:	70px;

$containerwidth:	982px - ($gutter-width * 2);
$sidenav_width:	300px;
$content_width:	$containerwidth - $sidenav_width;

$main_height:	616px;
$main_pad:	60px;
