/* Настройки
----------------------------------------------------------- */

$container-width = 980px;

$color-white        = #fff;
$color-black        = #000;

$font-source-sans  = 'Source Sans Pro', sans-serif;
$font-open-sans    = 'Open Sans', sans-serif;
$font-default      = Helvetica, Arial, sans-serif;

/* Подключение файлов
----------------------------------------------------------- */

@import 'nib';

@require 'mixins.styl';
@require 'fonts.styl';
@require 'base.styl';
@require 'blocks/*.styl';
@require 'responsive.styl';