@media only screen and (min-width : 960px) and (max-width : 1150px)
    html
        font-size 95%;

@media only screen and (max-width : 960px)
    html
        font-size 85%;

    .container
        padding-right 10px;
        padding-left 10px;


/*@media only screen and (max-width : px)
    html
        font-size 80%;*/