/**************
Variables
*************/

/** colors **/
$background-color: #bbbfc2;

$step-heading-color : #36abe1;
$step-subheading-color: #5c6366;
$step-content-text: #65686f;

$navigation-inactive: #9ba0a4;
$navigation-active: #36abe1;
$navigation-background: #ebeced; 
$navigation-background-gradient: linear-gradient(to right, #ebeced , #d1d5d6); 

$friends-name: #6fbee7;
$friends-info: #65686f;

/** fonts **/
$header-font: "Source Sans Pro", Helvetica, sans-serif;
$nav-font: "Source Sans Pro", Helvetica, sans-serif;
$copy-font: Helvetiva, sans-serif;


/**************
Global Styles
*************/
body{
    background-color: $background-color;
}
.banner_img{
    width: 980px;
    margin: 0 auto;
}
.main_content{
    width: 980px;
    background-color: white;
    margin:0 auto 60px auto;
    padding-top: 60px;
}

/**************
Baby Steps
*************/
.step_container{
    width: 735px;
    float: right;
}

.steps{
    padding: 0 70px;
}

.step_header_text{
    font: $header-font;
    color: $step-heading-color;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
}

.step_subheader_text{
    font: $header-font;
    color: $step-subheading-color;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
}

.step_header_icon{
    float: left;
    margin-right: 10px;
}

/**************
Side Nav
*************/

.steps_nav{
    width: 245px;
    float: left;
    background: $navigation-background-gradient;
}

.steps_nav_ul{
    padding: 0;
    list-style: none;
}

.steps_nav_li{
    width: 245px;
    border-top: 2px solid white;
    cursor: pointer;
}

// .inactive{
//     color: $navigation-inactive
// }

.active a{
    color: $navigation-active;
    background: white;
}

.nav_icon{
    float: right;
    padding: 17px 24px;
   
}
.nav_text{
    text-align: right;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 60px;
    font: $nav-font;
    
}




/*******************
Clearfix for floats
*******************/
.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*******************
Helper Class
*******************/

.hidden{
    display: none;
}