@mixin babynav($step: 1, $state: ''){
		position:	relative;
		z-index: 10;
		a{
			@extend	.img.img-icons_small_bs#{$step};
	
			color:	$greylinks;
			font:{
				size:	em(18);
			}
			line:{
				height:	60px;
			}
			text:{
				decoration:	none;
			}

			padding:{
				right:	60px;
			}
			background:{
				repeat:	no-repeat;
				position:	center right;
			}
		}

		
		&.active a, a:focus, a:active{
			@extend	.img.img-icons_small_bs#{$step}_blue;
			color:	$bluesteps;
			font:{
				weight:	600;
			}
		}
}

#step-nav{
	@extend	.img.img-shadow_left_nav;
	background:{
		color:	$greygradstart;
		position:	top right;
		repeat:	repeat-y;
	}

	position:	relative;

	li{
		border:{
			bottom:	1px solid $white;
		}
		text:{
			align:	right;
		}
		padding:{
			right:	24px;
		}

		&.slider{
			height:	60px;
			position:	absolute;

			background:	#fff;
			width:	100%;
			z-index: 1;
		}

		&#step-1{
			@include babynav;
		}

		&#step-2{
			@include babynav(2);
		}

		&#step-3{
			@include babynav(3);
		}
		&#step-4{
			@include babynav(4);
		}
		&#step-5{
			@include babynav(5);
		}
		&#step-6{
			@include babynav(6);
		}
		&#step-7{
			@include babynav(7);
		}
	}

	
}