h1{
	font:{
		family:	$headerfont;
	}
	text:{
		align:	right;
	}
	color:	$white;
	span{
		&.heavy{
			font:{
				weight:	700;
				size:	em(50);
			}
			line:{
				height:	48px;
			}
			text:{
				transform: uppercase;
			}
		}
		&.light{
			font:{
				size:	em(32);
			}
			line:{
				height:	43px;
			}
		}
	}
}

h2, h3, ul{
	font:{
		family:	$contentfont;
	}
}

h2{
	color:	$bluesteps;
	font:{
		size:	em(30);
		weight:	600;
	}
	line:{
		height:	20px;
	}
	margin:{
		bottom:	5px;
	}
}

h3{
	color:	$greysubtext;
	font:{
		weight:	300;
		size:	em(18);
	}
	line:{
		height:	20px;
	}
}

p{
	color:	$greytext;
	font:{
		size:	em(13);
	}
	line:{
		height:	18px;
	}
	margin:{
		bottom:	20px;
	}
}

#baby-2 p{
	font:{
		size:	em(12.5);
	}
}


.footnote{
	font:{
		//weight:	600;
	}
	a{
		text:{
			decoration:	none;
		}
		color:	$bluelinks;
	}
}