$white-color: #fff;
$bg-grey-color: #bbbfc2;
$step-tab-bg-light-color: #ebeced;
$step-tab-bg-dark-color: #d1d5d6;
$step-tab-text-color: #9ba0a4;
$step-tab-header-color: #36abe1;
$step-tab-subheader-color: #5c6366;
$step-content-text-color: #65686f;
