@import 'fonts-styles';
    
    body {
       background-color: #bbbfc2;
       margin:0;
       padding:0;
    }
    a {
        text-decoration: none;
    }
    .main-container {
        background-color: #fff;
        width: 85%;
        margin:0 auto;
    }

    .banner {
        width: 100%;
        height: 290px;
        background:  url("../images/header_text.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-section {
        height: 724px; 
        margin-top: 60px; 
        display: inline-block; 
    }
    .step-select-container {
        display: inline-block;
        background: linear-gradient(to left, #d1d5d6, #ebeced);
        border-top-right-radius: 2px;
        height: 730px;
        width: 317px;
        background-color: #ebeced;
        margin-bottom: -18px;
    }

    .steps-select {
        width: 100%;
        height: 70px;
        text-align: right;
        vertical-align: top;
        border-bottom: 1px solid #fffe;
        @include unselected-baby-step;

        p {
            margin-top: 6px;
            margin-right: 20px;
            display: inline-block;
        }
    }
    .selected {
       @include selected-baby-step;
    }
    .image-overlay {
       @include baby-step-image-style;
        img {
            padding-bottom: 10px;
        }
    }

    .large-image-overlay {
         @include baby-step-large-image-style;
    }
    
    .steps-content {
        margin-left: 395px;
        margin-top: -722px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
    
        .text-header-section{
            
            .step-title {
                @include baby-step-title;
            }
            .step-sub-title {
                @include baby-step-sub-title;

            }
        }
        
          .text-body-section {
              margin-top: 24px;
              margin-right: 68px;
              line-height: 18px;
             @include paragraph-text;
          } 

          .friend-list{
              margin-top: 40px;
              font-family: Helvetica;
              font-size: 13px;
              color: #65686f;
              @include paragraph-text;
              .name-links {
                  text-decoration: none;
                  color: #6fbee7;
              }
          }
        
    }
    
    .steps {
        display: none;
    }
    .active {
        display:none;
    }
