.babysteps {
  // Reset all type to use our alternative font
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  p,
  blockquote,
  th,
  td {
    font-family: $font-family-sans-serif-alt;
  }

  .columns {
    padding: 0;
  }

  .friends-on-my-step {
    font-weight: $font-weight-alt-bold;
  }

  .friend {
    color: $babyStepBlue;
  }

  $numberOfSteps: 7;
  $stepHeight: 60;

  padding-top: rem-calc(24);

  @media #{$medium-up} {
    padding-top: rem-calc(60);
  }

  .nav {
    $gradientStart: $backgroundLighter;
    $gradientEnd: darken($gradientStart, 10%);

    background-color: $gradientStart;
    @include background-image(linear-gradient(to right, $gradientStart 0%, $gradientStart 90%, $gradientEnd 100%));

    // As high as the number of steps
    min-height: rem-calc($stepHeight * ($numberOfSteps + 1));

    ol {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-right: rem-calc(24);
        border-bottom: 1px solid white;
      }

      .active {
        background-color: white;
        @include transition(background-color 500ms ease-out);
      }
    }

    a {
      display: block;
      text-align: right;
      line-height: rem-calc(60);
    }

    .icon {
      float: right;
      margin-left: rem-calc(24);
      font-size: rem-calc(24);
      line-height: rem-calc(60);
      width: rem-calc(24);
      text-align: center;
    }
  }

  .steps {
    .content {
      display: none;
      padding: 0 rem-calc(24);

      &.active {
        display: block;
      }
    }

    p {
      color: #65686f;
    }

    h2 {
      color: $babyStepBlue;
      font-size: rem-calc(30);
      font-weight: $font-weight-alt-bold;
      line-height: rem-calc(20);
    }

    h3 {
      color: #5c6366;
      font-size: rem-calc(18);
      font-weight: $font-weight-alt-light;
      line-height: rem-calc(20);
      margin-bottom: rem-calc(24);
    }

    .icon {
      color: $babyStepBlue;
      position: relative;
      top: rem-calc(-10);
      float: right;
      font-size: rem-calc(64);
      width: rem-calc(64);
      text-align: right;
      padding: 0 rem-calc(12);
    }

    @media #{$small-only} {
      float: none !important;
      width: 100% !important;

      .content {
        display: block;
      }
    }

    @media #{$medium-up} {
      .content {
        padding: 0 70px;
      }

      .icon {
        float: left;
        text-align: center;
        padding: 0;
        margin-right: rem-calc(12);
      }
    }
  }
}
