body {
    font-family: Helvetica, Arial, sans-serif;
    color: $primary-text-color;
}

a {
    color: $primary-link-color;
    text-decoration: none;
}

p {
    font-size: 13px;
    line-height: 18px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}
