.content {
    margin-left: 370px;
}

.content .content-header {
    color: $light-blue-color;
    line-height:30px;
}

.content .content-subheader {
    color: $gray-text-color;
}

.content .content-footer {
    margin-top: 40px;
}
