.content {
    margin-left: 370px;
    padding-right: 70px;

    .content-header {
        color: $light-blue-color;
        line-height:32px;
        @include source-sans-semi-bold;
    }

    .content-subheader {
        color: $gray-text-color;
        @include source-sans-light;
    }

    .content-footer {
        margin-top: 40px;
    }
}
