@mixin linearGradient($from, $to){
	background: -webkit-linear-gradient(left, $from 95%, $to 100%);
	background: -moz-linear-gradient(left, $from 95%, $to 100%);
	background: -o-linear-gradient(left, $from 95%, $to 100%);
	background: -ms-linear-gradient(left, $from 95%, $to 100%);
	background: linear-gradient(left, $from 95%, $to 100%);
}

@mixin verticalAlign(){
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin borderBox{
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;  
}