@import "foundation/functions";

$include-html-classes: true;
$include-html-global-classes: $include-html-classes;
$include-html-grid-classes: $include-html-classes;

$row-width: rem-calc(1000);
$total-columns: 12;
$column-gutter: rem-calc(30);

$font-family-sans-serif: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
$font-family-sans-serif-alt: "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-alt-light: 300 !default;
$font-weight-alt-normal: 400 !default;
$font-weight-alt-bold: 600 !default;
