$images-directory: "../../images";

$primary-text-color: #65686f;
$primary-link-color: #6fbee7;
$light-text-color: #fff;
$gray-text-color: #5c6366;
$alternate-link-color: #9ba084;
$light-blue-color: #36abe1;
