// COLORS
$white-bg: #ffffff;
$light-grey-bg: #9ba0a4;
$grey-bg: #bbbfc2;
$grad-begin: #ebeced;
$grad-end: #d1d5d6;
$grey-t: #5c6366;
$dark-grey-t: #65686f;
$blue-t: #36abe1;
$light-blue-t: #6fbee7;
$white-t: #ffffff;
