@import './vendor/reset.css'

clearfix()
  &:after
    content " "
    display block
    clear both

gradient(col1, col2, pct)
  if pct > 50%
    background col1
  else
    background col2
  background -moz-linear-gradient(left, col1 pct, col2 100%)
  background -webkit-gradient(linear, left top, right top, color-stop(pct, col1), color-stop(100%, col2))
  background -webkit-linear-gradient(left, col1 pct, col2 100%)
  background -o-linear-gradient(left, col1 pct, col2 100%)
  background -ms-linear-gradient(left, col1 pct, col2 100%)
  background linear-gradient(to right, col1 pct, col2 100%)
  filter progid\:DXImageTransform\.Microsoft\.gradient\( startColorstr=\'col1\', endColorstr=\'col2\',GradientType=1 \)

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  background: #bbbfc2
  font-family Helvetica, Arial, sans-serif
  font-weight normal
  color #65686f
  font-size 13px
  line-height 18px
  padding 0 20px 20px

  &:after
    content url('/app/assets/images/shadow_bottom.jpg')
    display block
    margin 0 auto
    width 980px

ul
  list-style none

a
  color #6fbee7
  text-decoration none
  
  &:hover
    text-decoration underline

h1, h2, h3, h4, h5, h6
  font-family "Source Sans Pro", sans-serif
  font-weight 600
  color #36ABE1
  margin-bottom .2em

h1
  font-size 60px

h2
  font-size 30px

h3
  font-size 20px

h4
  font-size 15px

h5
  font-size 13px

h6
  font-size 10px