body
{
    background-color: #bbbfc2;
	margin: 0px;
}
#out-wrap-right{
	background: url('../images/shadow_right.jpg') no-repeat top right; 
	width: 990px;
	margin: auto;
}
#out-wrap-left{
	background: url('../images/shadow_left.jpg') no-repeat top left; 
	width: 990px;
	margin: auto;
}
.wrapper
{
    width: 960px;
    margin: 0px auto;
    min-height: 600px;
    background: #fff;
}
.hdr-img{
	background: url('../images/header.jpg') no-repeat;
	height: 278px;	
}
.hdr-strong{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 43px;
	text-align: right;
}
.wrapper h1, .wrapper h4, .wrapper p, .wrapper pre, .wrapper ul, .wrapper li
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
.wrapper h1 {
    vertical-align:middle;
    padding-bottom:20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
	
    font-weight: 100;
    float: right;
    margin: 50px 70px 0 0;
    text-align: right;
}
.


.wrapper li
{
    outline: 0;
    text-decoration: none;
    -webkit-transition-property: background color;
    -moz-transition-property: background color;
    -o-transition-property: background color;
    -ms-transition-property: background color;
    transition-property: background color;
    -webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    -o-transition-duration: 0.12s;
    -ms-transition-duration: 0.12s;
    transition-duration: 0.12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.content-hdr h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color:  #36abe1;
	line-height: 20px;
	margin: 16px 0 2px 0;
	float: left;
}
.content-hdr img{
	float: left;
	margin: 0px 20px 0px 0px;
}
.content-hdr  div{
	float: left;
	display: block;
}
.tab-content p{
	font-family:Helvetica, Arial, sans-serif;
	display: inline-block
;
	font-size: 13px;
	line-height: 18px;
	color:  #65686f;
}
.content-hdr  p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #5c6366;
	line-height: 20px;
	margin: 0px 0px 24px 0px;
}
#v-nav
{
    height: 760px;
    margin: 60px auto;
    color: #333;
    background: #fff url('../images/shadow_bottom.jpg') no-repeat bottom center;;
}

#v-nav >ul
{
    float: left;
    width: 330px;
    display: block;
    height: 730px;
    position: relative;
    min-height: 500px;
    top: 0;
    border-right-width: 0;
    margin: auto 0 !important;
    padding:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	background: -webkit-linear-gradient(left, #ebeced 90%, #d1d5d6 130%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ebeced 0%, #d1d5d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ebeced 0%, #d1d5d6 100%); /* IE10+ */
    background: linear-gradient(left, #ebeced 0%, #d1d5d6 100%); /* W3C */ 
	line-height: 60px;
}

#v-nav >ul >li
{
    width: 330px;
    list-style-type: none;
    display: block;
    text-shadow: 0px 1px 1px #F2F1F0;
    font-size: 1.11em;
    position: relative;
    border-right-width: 0;
    border-bottom: 1px solid #DDD;
    padding: 10px 0px !important;      
    color:  #9ba0a4;
    line-height: 60px;
	
    height: 61px;
    background: url('../images/icons/individual/icons_large_bs1.png') no-repeat right middle;
}
#v-nav  ul  li p{
	float: left;
	margin: 0px 0px 0px 134px;
}

#v-nav >ul >li.current
{
    color: #26abe1;
    border-right: none;
    z-index: 10;
    background: white !important;
    position: relative;
    moz-box-shadow: inset 0 0 35px 5px #fafbfd;
    -webkit-box-shadow: inset 0 0 35px 5px #fafbfd;
    box-shadow: inset 0 0 35px 5px #fafbfd;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#v-nav >ul >li.first.current
{
    border-bottom: 1px solid #DDD;
}

#v-nav >ul >li.last
{
    border-bottom: none;
}
#v-nav  li  .icon-bs1{
	background: url('../images/icons/individual/icons_large_bs1.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs1{
	background: url('../images/icons/individual/icons_large_bs1_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs2{
	background: url('../images/icons/individual/icons_large_bs2.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs2{
	background: url('../images/icons/individual/icons_large_bs2_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs3{
	background: url('../images/icons/individual/icons_large_bs3.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs3{
	background: url('../images/icons/individual/icons_large_bs3_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs4{
	background: url('../images/icons/individual/icons_large_bs4.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs4{
	background: url('../images/icons/individual/icons_large_bs4_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs5{
	background: url('../images/icons/individual/icons_large_bs5.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs5{
	background: url('../images/icons/individual/icons_large_bs5_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs6{
	background: url('../images/icons/individual/icons_large_bs6.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs6{
	background: url('../images/icons/individual/icons_large_bs6_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  li  .icon-bs7{
	background: url('../images/icons/individual/icons_large_bs7.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav  .current .icon-bs7{
	background: url('../images/icons/individual/icons_large_bs7_blue.png') no-repeat;
	background-size: cover;
    background-position: center;
	width: 40px;
	height: 30px;
	float: right;
	margin: 13px 24px 0 0;
}
#v-nav >div.tab-content
{
    margin-left: 330px;
    background-color: #FFF;
    min-height: 400px;
    position: relative;
    z-index: 9;
    padding: 12px;
    moz-box-shadow: inset 0 0 35px 5px #fafbfd;
    -webkit-box-shadow: inset 0 0 35px 5px #fafbfd;
    box-shadow: inset 0 0 35px 5px #fafbfd;
    display: none;
    padding: 0px 70px 25px 70px;
}

#v-nav >div.tab-content >h4
{
    font-size: 1.2em;
    color: Black;
    text-shadow: 0px 1px 1px #F2F1F0;
    border-bottom: 1px dotted #EEEDED;
    padding-top: 5px;
    padding-bottom: 5px;
}

