body {
  width: 980px;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  width: 980px;
  height: 276px;
  text-indent:-9999px;
  background: url('/assets/images/header_text.jpg');
  margin: 0 0 60px 0;
  padding: 0;
}

nav {
  width: 276px;
  float: left;

  #baby-step-nav {
    text-align: right;
    padding-right: 24px;
  }
}

main {
  float: left;
  width: 704px;
}

