body {
  width: 980px;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  width: 980px;
  height: 276px;
  text-indent:-9999px;
  background: url('/assets/images/header_text.jpg');
  margin: 0 0 60px 0;
  padding: 0;
}

h2 {
  font-family: "Source Sans Pro";
  font-weight: "Semi-bold";
  font-size: 30px;
  line-height: 20px;
  color: #36abe1;
  margin-bottom: 7px;
}

section em {
  font-family: "Source Sans Pro";
  font-weight: "Light";
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
  color: #5c6366;
}

nav {
  width: 276px;
  float: left;

}

#baby-step-nav {
  text-align: right;
  padding-right: 24px;
  background-color: #ebeced;
}

#baby-step-nav li {
  display: block;
  border-bottom: 1px solid #fff;
}

#baby-step-nav li a {
  font-family: "Source Sans Pro";
  font-weight: "Regular";
  font-size: 18px;
  line-height: 60px;
  color: #9ba0a4;
  text-decoration: none;
}

main {
  float: left;
  width: 564px;
  padding: 0 70px;
  margin: 0;
}

