/* Step Icons */
.stepIcon {
  width: 30px;
  height: 25px;
  z-index: 10;
  position: relative;
  background-image: url('/assets/images/icons/sprites/icons_small.png');
  background-repeat: no-repeat;
  display: block;
  top: 6px;
}

#stepIconOne {
  background-position: 0 0;
}

#stepIconTwo {
  background-position: 0 -25px;
}

#stepIconThree {
  background-position: 0 -50px;
}

#stepIconFour {
  height: 24px;
  background-position: 0 -75px;
}

#stepIconFive {
  background-position: 0 -100px;
}

#stepIconSix {
  background-position: 0 -125px;
}

#stepIconSeven {
  background-position: 0 -150px;
}

/* Heading Icons */
.headingIcon {
  float: left;
  width: 80px;
  height: 60px;
  display: block;
  position: relative;
  background-image: url('/assets/images/icons/sprites/icons_large.png');
  background-repeat: no-repeat;
}

#headingIconOne {
  background-position: 0 -455px;
}

#headingIconTwo {
  background-position: 0 -520px;
}

#headingIconThree {
  background-position: 0 -585px;
}

#headingIconFour {
  height: 65px;
  background-position: 0 -647px;
}

#headingIconFive {
  height: 70px;
  background-position: 0 -710px;
}

#headingIconSix {
  height: 64px;
  background-position: 0 -778px;
}

#headingIconSeven {
  height: 65px;
  background-position: 0 -842px;
}

/* Change background image on selection */
input[type="radio"]:checked + .tab #stepIconOne {
  background-position: 0 -175px;
}

input[type="radio"]:checked + .tab #stepIconTwo {
  background-position: 0 -200px;
}

input[type="radio"]:checked + .tab #stepIconThree {
  background-position: 0 -225px;
}

input[type="radio"]:checked + .tab #stepIconFour {
  background-position: 0 -250px;
}

input[type="radio"]:checked + .tab #stepIconFive {
  background-position: 0 -275px;
}

input[type="radio"]:checked + .tab #stepIconSix {
  background-position: 0 -300px;
}

input[type="radio"]:checked + .tab #stepIconSeven {
  background-position: 0 -325px;
}