@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body{
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #bbbfc2;
}

a {
  color: #6fbee7;
}

header {
  top: 0;
  margin: 0 auto;
  width: 980px;
  height: 276px;
}

header img {
  width: 100%;
  height: 276px;
}

#header_image:before {
  position: absolute;
  left: -15px;
  background: url("assets/images/shadow_left.jpg");
}

.container:before {
  position: absolute;
  width: 15px;
  height: 100%;
  background: url(/assets/images/shadow_left.jpg);
}

.container {
  margin: 0 auto;
  top: 0px;
  padding: 0px !important;
  position: relative;
  height: auto;
  width: 980px;
  background-color: #ffffff;
}

.content_container {
  background-color: #ffffff;
  display: inline !important;
}

.babysteps_container {
  width: 250px;
  height: 700px;
  background: linear-gradient(90deg, #ebeced 97%, #d1d5d6);
}

.babysteps {
  margin-top: 60px;
  text-decoration: none;
  color: #9ba0a4;
}

.nav-pills .nav-link {
  border-radius: 0px !important;
  color: #9ba0a4;
  line-height: 60px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: right;
  font-weight: 200;
  border-bottom: 1px solid white;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #6fbee7;
  font-family: 'Source Sans Pro';
  background-color: white;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}

.babysteps {
    position: relative;
    font-size: calc(1em + 1vh);
    padding: 0;
    margin-top:60px;
    list-style-type: none;
    text-decoration: none;
    color: #9ba0a4 !important;
}

.babysteps img {
  top: -2px;
  left: 10px;
  margin-left: 24px;
  margin-right: 24px;
  padding-right: 30px;
  position: relative;
}

.current {
  color: #36abe1 !important;
  background-color: #ffffff;
}
.current a {
  color: #36abe1 !important;
  background-color: #ffffff;
}

.active {
  display: block;
}

.hide {
  display: none !important;
}

#selector {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  position: relative;
}

#step-1 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 0;
  width: 30px;
  height: 26px;
}

.nav-link.active #step-1 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -175px;
  width: 30px;
  height: 26px;
}

#step-2 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -26px;
  width: 30px;
  height: 26px;
}

.nav-link.active #step-2 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -198px;
  width: 30px;
  height: 26px;
}

#step-3 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -47px;
  width: 30px;
  height: 26px;
}

.nav-link.active #step-3{
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -224px;
  width: 30px;
  height: 26px;
}

#step-4 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -72px;
  width: 30px;
  height: 26px;
}

.nav-link.active #step-4 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -249px;
  width: 30px;
  height: 26px;
}

#step-5 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -99px;
  width: 30px;
  height: 26px;
}

.nav-link.active #step-5 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -274px;
  width: 30px;
  height: 26px;
}

#step-6 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -125px;
  width: 30px;
  height: 25px;
}

.nav-link.active #step-6 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -300px;
  width: 30px;
  height: 25px;
}

#step-7 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -150px;
  width: 30px;
  height: 25px;
}

.nav-link.active #step-7 {
  background: url(/assets/images/icons/sprites/icons_small.png) no-repeat 0 -325px;
  width: 30px;
  height: 25px;
}

.name {
  font-weight: 600;
  color: #6fbee7;
}

.name:hover {
  text-decoration: none;
  color: #6fbee7;
}

.main-content {
  top: 320px;
  left: 300px;
  right: 70px;
  height: auto;
  position: absolute;
}

#description {
  position: relative;
  margin-top: 24px;
  width: 600px;
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  color: #65686f;
  font-weight: 400;
  line-height: 18px;
}

#friends {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  color: #65686f;
  font-weight: 400;
}
