@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro: 400,600, 300 | Open+Sans: 300, 700')

// VARIABLES


/ background colors

$main-background-color: #bbbfc2
$nav-background-gradient: linear-gradient(to right, #ebeced, #d1d5d6)




// fonts

$nav-font: "Source Sans Pro", Helevetica, Sans-Serif
$heading-font: "Source Sans Pro", Helevetica, Sans-Serif
$description-font: Hevectica, Sans-Serif

$heading-text-color: #36abe1
$nav-active-text-color: #36abe1
$nav-inactive-text-color: #9ba0a4
$description-text-color: #65686f





