// VARIABLES

// Colors
$headline-blue:   #36abe1
$subhead-grey:    #5c6366
$body-black:      #65686f
$link-blue:       #6fbee7
$background-grey: #bbbfc2
$nav-text-grey:   #9ba0a4

//Icons
$icon-large: url('./../images/icons/sprites/icons_large.png')

// STYLES
#wrapper
  background-color: white
  width: 980px
  margin: auto
body
  background-color: $background-grey
header
  background: $background-grey url("../images/header.jpg") no-repeat 0 0
  height: 278px
  display: block
  color: white
  text-align: right
  h1
    padding: 50px 70px 0 0
    text-align: right
    color: white
    .sub-headline
      font: 300 32px/32px 'Open Sans', sans-serif
    .headline
      font: 600 50px/48px 'Open Sans', sans-serif
      display: block
      padding-top: 15px
      span
        letter-spacing: -11px
.container
  height: 600px
  margin-top: 60px
  // background-color: pink
  .content
    width: 540px
    height: 400px
    overflow: hidden
    margin-right: 70px
    background-color: white
    float: right
    display: inline-block
    position: relative
    section
      min-height: 400px
      position: absolute
    article
      min-height: 400px
    img
      display: inline-block
    article h1
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 400
      font-size: 30px
      vertical-align: 26px
      color: $headline-blue
      line-height: 20px
      display: inline-block
    article h2
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 300
      font-size: 18px
      position: relative
      right: 150px
      color: $subhead-grey
      line-height: 20px
      display: inline-block
    p
      padding-top: 24px
      font-family: Helvetica, sans-serif
      font-weight: 400
      font-size: 13px
      color: $body-black
      line-height: 18px
  .nav
    width: 300px
    margin-right: 70px
    float: left
    display: inline-block
    vertical-align: center
    background-color: #ebeced
    #focus
      background-color: white
      width: 300px
      min-height: 61px
      position: absolute
      z-index: 1
      top: 338px
    .step
      color: $nav-text-grey
      display: inline-block
      height: 60px
      width: 276px
      float: left
      text-align: right
      padding-right: 24px
    .gradient
      height: 60px
      background-image: linear-gradient(to left, #d1d5d6, #ebeced 4%)
      border-bottom: 1px solid white
    h3
      display: inline-block
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 400
      font-size: 18px
      line-height: 60px
      padding-right: 30px
      vertical-align: 10px
      position: relative
      z-index: 999
    img
      padding-top: 15px
      display: inline-block
      position: relative
      z-index: 999

