html{
	background-color: #bbbfc2;
}
body{
	/*overflow: hidden;*/
}
#all-content{
	width: 61em;
	margin-left: 7em;
	overflow: hidden;
}
.left-shadow{
	background-image: url("../images/shadow_left.jpg");
	background-repeat: no-repeat;
	height: 100em;
	width: 1em;
	display: inline-block;
	float: left;
}
#the-middle{
	width: 59em;
	overflow: hidden;
	background-color: white;
	float: left;
	display: inline-block;
}
#banner{
	background-image: url("../images/header_text.jpg");
	height: 17em;
	width: 100%;
	background-repeat: no-repeat;
	margin-bottom: 60px;
}
#main-body{
	overflow: hidden;
	background-color: white;
}
#side-bar{
	display: inline-block;
	float: left;
	font-family: Source Sans Pro;
	width: 30%;
	text-align: right;
	overflow: hidden;
	border-top: solid 1px #d1d5d6;
}
.baby-step{
	line-height: 60px;
	cursor: pointer; 
	cursor: hand;
	border-bottom: white 1px solid;
	padding-right: 24px;
	color: #9ba0a4;
	background-image:
    	linear-gradient(
      		to right, 
      		#ebeced, #d1d5d6
    	);
}
.baby-step img{
	margin: 0 0 0 24px;
	vertical-align: middle;
}
.empty-step{
	height: 10em;
	width: 100%;
	background-image:
    	linear-gradient(
      		to right, 
      		#ebeced, #d1d5d6
    	);
}
.first-chosen
{
	line-height: 60px;
	padding-right: 24px;
	border-top: solid 1px #d1d5d6;
	background-color: white;
	color: #36abe1;
	-webkit-transition-property: color;
       -moz-transition-property: color;
         -o-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	font-weight: 600;
	cursor: pointer; 
	cursor: hand;
}
.first-chosen img{
	margin-left: 24px;
	vertical-align: middle;
	-moz-animation-duration: 0.25s;
  	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
	-moz-animation-animation-name: slidein;
	-webkit-animation-animation-name: slidein;
	animation-name: slidein;
}
.chosen{
	line-height: 60px;
	margin: 0 24px 0 0;
	background-color: white;
	color: #36abe1;
	font-weight: 600;
	cursor: pointer; 
	cursor: hand;
	-webkit-transition-property: color;
       -moz-transition-property: color;
         -o-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.chosen img{
	margin: 0 0 0 24px;
	vertical-align: middle;
	-moz-animation-duration: 0.25s;
  	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
	-moz-animation-animation-name: slidein;
	-webkit-animation-animation-name: slidein;
	animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 5%;
    width: 10%; 
  }

  to {
    margin-left: 10%;
    width: 11%;
  }
}

#main-content{
	width: 65%;
	display: inline-block;
	font-family: Helvetica;
	line-height: 18px;
	font-size: 13px;
	color: #65686f;
}
#content{
 	padding: 0px 70px 0px 70px;
}
#title{
	background-image: url("../images/headings/heading_bs1.png");
	height: 5em;
    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title2{
	background-image: url("../images/headings/heading_bs2.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title3{
	background-image: url("../images/headings/heading_bs3.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title4{
	background-image: url("../images/headings/heading_bs4.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title5{
	background-image: url("../images/headings/heading_bs5.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title6{
	background-image: url("../images/headings/heading_bs6.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#title7{
	background-image: url("../images/headings/heading_bs7.png");
	height: 0em;
	    -webkit-transition-property: height;
       -moz-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
	width: 100%;
	background-repeat: no-repeat;
}
#content p{
	margin: 20px 0px 40px 0px;
}
#friends{
	text-align: center;
}
.bottom-shadow{
	background-image: url("../images/shadow_bottom.jpg");
	background-repeat: no-repeat;
	height: 1em;
	width: 100%;
}
.right-shadow{
	background-image: url("../images/shadow_right.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
	height: 100em;
	width: 1em;
}
