body {
	margin:0;
	padding:0;
	text-align:center;
	background:#bbbfc2;
}

h2 {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 600px;
	font-size: 30px;
	color: #36abe1;
	line-height: 20px;
	margin:0 0 6px 0;
}

h3 {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 300px;
	font-size: 18px;
	color: #5c6366;
	line-height: 20px;
	margin:0;
}

h4 {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 400px;
	font-size: 18px;
	color: #9ba0a4;
	line-height: 60px;
	margin:0;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#65686f;
	line-height: 18px;
}

a {
	color:#6fbee7;
	text-decoration: none;
}

.content-wrap {
	display:inline-block;
	width:980px;
	font-family:sans-serif;
}

.hero-wrap {
	width:100%;
	height:276px;
	background-image: url(../images/header.jpg);
}

.hero-text {
	padding:50px 70px 0px 0px;
}

.hero-text h1 {
	z-index: 1;
	color:#fff;
	display:block;
	margin:0;
	text-align:right;
}

#hero-line-1 {
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	line-height:47px;
	-webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
}
#hero-line-2 {
	font-family:'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 48px;
	text-transform: uppercase;
	line-height:48px;
}

.body-content {
	background:#fff;
	width:980px;
	height:600px;
	padding-top:60px;
}

.nav-wrap {
	display:inline-block;
	width:275px;
	background-image: linear-gradient(to right, rgba(235,236,237), rgba(209,213,214));
	height:600px;
	overflow-x: hidden;
}

.nav-wrap ul{
	list-style:none;
	margin: 0;
	padding: 0;
	text-align:right;
}

.nav-wrap li > * {
	display:inline-block;
}

.nav-list li a h4:active {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 600px;
	font-size: 18px;
	color: #3ba6e1;
	line-height: 60px;
	margin:0;
}

.nav-list li > img {
    margin:0 24px 0;
    vertical-align: middle;
}

.main-wrap {
	display:inline-block;
	width:560px;
	margin:0 70px 0 70px;
	text-align: left;
	vertical-align:top;
}

.item-view {
	height:260px;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.baby-step-item {
	height:260px;
	margin-bottom:30px;
}

.heading {
	display:inline-block;
}

.baby-step-wrap {
	display: inline-block;
	vertical-align: middle;
}

.baby-step-wrap > * {
	display: block;
}

.step-icon {
	display:inline-block;
	padding-right: 10px;
	vertical-align: middle;
}

.friend-counter {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#65686f;
	line-height: 18px;
}

