html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
    font: inherit; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
    font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

.clearfix { clear:both; }

body {
    background-color: #bbbfc2;
}
.container {
    width: 995px;
    height: 452px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.section-container {
    background: #fff;
    overflow: hidden;
}
h1,h2,h3,h4,h5 { margin:0;padding:0; }
p {
    font-family: Helvetica;
    color: #65686f;
    font-size: 13px;
    line-height: 18px;
    margin: 24px 0;
}
h2 {
    margin-bottom: 10px;
    padding-top: 9px;
    font-family: "Source Sans Pro";
    font-weight: 600;
    color: #36abe1;
    line-height: 20px;
    font-size: 30px;
}
h3 {
    margin-top: 10px;
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: #5c6366;
    line-height: 20px;
    font-size: 18px;
}
.mainimg {
    height: 276px;
    width: 974px;
    background: url('/assets/images/header_text.jpg') no-repeat top;
    margin-bottom: 60px;
    transition: all 1s ease-in-out;
    transform: translateY(-100%);
    margin-left: auto;
    margin-right: auto;

}
.mainimg.activated{
    transform: translateY(0%);
}
.shadow-left {
    float: left;
    margin-left: -7px;
    background: url('/assets/images/shadow_left.jpg');
    height: 724px;
    width: 15px;
}
.shadow-right {
    float: right;
    background: url('/assets/images/shadow_right.jpg');
    height: 724px;
    width: 15px;

}
#shadow-bottom {
    margin: 0 auto;
    height: 30px;
    width: 980px;
    background: url('/assets/images/shadow_bottom.jpg');
}
.content-container {
    margin-top:60px;
}

#nav {
    float: left;
    height: 670px;
    width: 300px;
    background: -moz-linear-gradient(0deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 93%, rgba(209,213,214,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(235,236,237,1)), color-stop(93%, rgba(235,236,237,1)), color-stop(100%, rgba(209,213,214,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 93%, rgba(209,213,214,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 93%, rgba(209,213,214,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 93%, rgba(209,213,214,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 93%, rgba(209,213,214,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6',GradientType=1 ); /* ie6-9 */
    z-index: 102;
}
.main-content {
    font-family: "Source Sans Pro";
    float: left;
    width: 672px;
    height:467px;
    color: #36abe1;
    line-height: 20px;
    font-size: 30px;
    font-weight: 300;
    background: #fff;
}
.main-content p {
    margin: 10px 0 0 70px;
}
.baby-steps li {
    font-family: "Source Sans Pro";
    color: #9ba0a4;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    padding-left: 35%;
    list-style: none;
    border-bottom: 2px solid #fff;
}
.nav-shadow {
    height: 1px;
    width: 300px;
    background: url('/assets/images/shadow_left_nav.jpg');
    z-index: 103;
}
.panel-container {
    float: left;
    width: 672px;
    background: #fff;
}
.panels {
    width: 460px;
}
.panel {
    padding: 0 70px;
}
.panel-content {
    position: relative;
    height: 203px;
}
.items {
}
.items span {
    display: inline-block;
    width: 70%;
    height: 60px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    text-decoration: none;
    color: #9ba0a4;
    font-weight: 500;
    line-height: 60px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.items span.selected {
    font-size: 18px;
    color: #36abe1;
    font-weight: 700;
}
.items span.selected img {
    margin-left: 30px;
}
.panel-container {
    position: relative;
    overflow: hidden;
}
.panel-container .panel .panel-content {

}
.panel-container .panels {
    position: absolute;
    top: 0;
}
.panel-container .panel {
    position: absolute;
    max-width: 537px;
}


.headings {
    margin: 0 0 -15px 90px;
}
.step-one {
    background-image: url('/assets/images/icons/individual/icons_small_bs1.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-two {
    background-image: url('/assets/images/icons/individual/icons_small_bs2.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-three {
    background-image: url('/assets/images/icons/individual/icons_small_bs3.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-four {
    background-image: url('/assets/images/icons/individual/icons_small_bs4.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-five {
    background-image: url('/assets/images/icons/individual/icons_small_bs5.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-six {
     background-image: url('/assets/images/icons/individual/icons_small_bs6.png');
     background-position: 200px 20px;
     background-repeat: no-repeat;
    padding-left: 30%;
 }
.step-seven {
    background-image: url('/assets/images/icons/individual/icons_small_bs7.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}


.step-one {
    height: 60px;
    background-position: 200px 20px;
}
.step-one.selected {
    height: 70px;
    padding-left: 30%;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs1_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-two {
    height: 70px;
    background-position: 200px 20px;
}
.step-two.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs2_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-three{
    height: 70px;
    background-position: 200px 20px;
}
.step-three.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs3_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-four {
    height: 70px;
    background-position: 200px 20px;
}
#step-four.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs4_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-five {
    height: 70px;
    background-position: 200px 20px;
}
#step-five.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs5_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-six {
    height: 70px;
    background-position: 200px 20px;
}
#step-six.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs6_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.step-seven {
    height: 70px;
    background-position: 200px 20px;
}
#step-seven.selected {
    height: 70px;
    background: white;
    background-image: url('/assets/images/icons/individual/icons_small_bs7_blue.png');
    background-position: 200px 20px;
    background-repeat: no-repeat;
    padding-left: 30%;
}
.steps-one, .steps-two, .steps-three, .steps-four, .steps-five, .steps-six, .steps-seven {
    float: left;
    height: 70px;
    background: url('/assets/images/icons/sprites/icons_large.png');
    background-repeat: no-repeat;
}
.steps-one {
    height: 60px;
    background-position: 70px -454px;
}
.steps-two {
    height: 60px;
    background-position: 70px -520px;
}
.steps-three {
    height: 60px;
    background-position: 70px -580px;
}
.steps-four {
    height: 60px;
    background-position: 70px -650px;
}
.steps-five {
    height: 68px;
    background-position: 70px -712px;
}
.steps-six {
    height: 60px;
    background-position: 70px -778px;
}
.steps-seven {
    height: 60px;
    background-position: 70px -842px;
}