HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

body{
    background-color:#bbbfc2;
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
  }
  
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url(../fonts/SourceSansPro-Semibold.ttf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

.wrapper{
    display: grid;
    background-color: white;
    grid-template-columns: 300px 610px;
    grid-template-rows: 276px 700px;
    grid-gap:70px;
    width:980px;
    margin:0 auto;
}

.header {
    background-image: url('../images/header.jpg');
    grid-column:1/3;
    grid-auto-rows: minmax(200px, auto);
    text-align: right;

}

.textwrapper {
    
}

.header-text1 {
    color:#fff;
    font-family: "OpenSans-Light", Times;
    font-size: 32px;
    margin-top: 50px;
    margin-right: 70px;
    /* margin-bottom: 15px; */
}

.header-text2 {
    color:#fff;
    font-family: "OpenSans-Bold", Times;
    font-size: 50px;
    
    margin-right: 70px;
    line-height: 48px;
}

.buttons {
    grid-column: 1;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 189px;
    grid-row-gap:3px;
    text-align: center;
    /* border: rgb(164, 4, 179) 1px solid; */
    
   
}

.filler{
    background-image: linear-gradient(to right, #ebeced , #d1d5d6);
   
}


.button-white {
    background-color: white;
    padding: 10px 0;
}

.button-gray {
    background-image: linear-gradient(to right, #ebeced , #d1d5d6);
    padding: 10px 0;
}

.button-text-gray{
    color:#9ba0a4;
    font-family: "SourceSansPro-Regular", Times;
    font-size: 18px;
    line-height: 60px; 
}
.button-text-blue{
    color:#36abe1;
    font-family: "SourceSansPro-Semibold", Times;
    font-size: 18px;
    line-height: 60px; 
}

.content {

    grid-column: 2;
    display: grid;
    grid-template-rows: 125px 200px auto;
    grid-template-columns: 120px 420px;

    
    text-align: left;
    /* background-color: #ccd5da; */

}

.pic{
    grid-column: 1;
    padding: 20px;
    /* border: rgb(164, 4, 179) 1px solid; */
}

.content-title {
   grid-column: 2/3;
   grid-row: 1;

   /* border: red 1px solid; */
}

.heading1 {
    grid-column: 2;
    color:#36abe1;
    font-family: "SourceSansPro-Semibold", Times;
    font-size: 30px;
    line-height: 20px;
    /* border: green 1px solid; */
}
.heading2 {
    color:#5c6366;
    font-family: "SourceSansPro-Semibold", Times;
    font-size: 18px;
    line-height: 20px;
    /* border: black 1px solid; */
}

.blurb {
    grid-column: 1/3;
    grid-row: 100px;
    
    /* border: orange 1px solid; */
}

.blurb-text{
    color:#65686f;
    font-family: "Helvetica", Times;
    font-size: 13px;
    line-height: 18px;
}

.friends {
    display: inline-block;
    grid-column: 1/3;
    font-family: "Helvetica", Times;
    font-size: 13px;
    line-height: 18px;
    
    /* border: rgb(0, 0, 0) 1px solid; */
}

.name {
    color:#36abe1; 
    font-family: "Helvetica", Times;
    font-size: 13px;
    line-height: 18px;
}

.onstep {
    color:#65686f;
    font-family: "Helvetica", Times;
    font-size: 13px;
    line-height: 18px;
   
}