@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
body {
	margin: 0px;
	padding: 0px;
	background-color: #bbbfc2;
}
.container {
	width:1030px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.wrapper-shadow {
	position: absolute;
}
.shadow-left {
	z-index: -1;
	left:5px;
}
.shadow-right {
	z-index: -2;
	right:5px;
}
.wrapper {
	width: 980px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	height: 910px;
}
#toggle-bar {
	height: 60px;
	width: 300px;
	position: absolute;
	background: #fff;
	top: 360px;
	left: 20px;
	transition: top .4s cubic-bezier(.32,.16,.46,.9);
}
.content-wrapper {
	margin-top:60px;	
	padding-right: 70px;
}
.content-wrapper ul {
	padding: 0px;
	display: inline-block;
	box-shadow: inset -3px 0px 5px  #d1d5d6;
	background-color:#ebeced;
}
.content-wrapper ul li {
	font-family: "Source Sans Pro";
	height: 60px;
	line-height: 60px;
	margin-bottom: 2px;
	list-style-type: none;
	width: 200px;
	padding-left: 68px;
	border-bottom: 1px solid white;
}
.content-wrapper a {
	position: relative;
	font-size: 18px;
	text-decoration: none;
}
.inactive {
		color:#9ba0a4;
}
.sprite, .blue-sprite {
	display: inline-block;
	margin: 0 24px;
	background-size: 100%;
	position: relative;
	top: 10px;
	height: 40px;
	width: 50px;
	float: right;
	background-image: url('../images/icons/sprites/icons_small.png');
}
li:first-child .sprite {
	background-position: 0px 0px;
}
li:nth-child(2) .sprite {
	background-position: 0px -40px; 
}
li:nth-child(3) .sprite {
	background-position: 0px -85px; 
}
li:nth-child(4) .sprite {
	background-position: 0px -125px; 
}
li:nth-child(5) .sprite {
	height: 40px;
	width: 45px;
	background-position: 0px -149px; 
}
li:nth-child(6) .sprite {
	height: 35px;
	width: 43px;
	background-position: 0px -180px; 
}
li:nth-child(7) .sprite {
	height: 30px;
	width:38px;
	background-position: -3px -190px; 
}
.one {
	background-position: 0px 290px;
}
.two {
	background-position: 0px 250px; 
}
.three {
	background-position: 0px 205px; 
}
.four {
	background-position: 0px 165px; 
}
.five {
	height: 40px;
	width: 45px;
	background-position: 0px 114px; 
}
.six {
	height: 35px;
	width: 43px;
	background-position: 0px 71px; 
}
.seven {
	height: 30px;
	width:38px;
	background-position: -3px 31px; 
}
li:nth-child(8) {
	padding-bottom: 50px;
}
.parent-conceal {
	overflow:hidden;
}
.copy-wrapper {
	display: inline-block;
	width: 60%;
	vertical-align: top;
	margin: 20px 0 0 70px;
	height: 300px;
}
.shadow_bottom {
	width: 100%;
	margin-top: -30px;
}
.baby-step {
	margin: 0px 0px 200px 0px;
}
.heading-wrapper {
	display: inline-block;
	vertical-align: top;
}
.heading-wrapper h1 {
	font-size: 30px;
	font-weight: 600;
}
.heading-wrapper h2 {
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
}
.heading-wrapper h1,
.heading-wrapper h2 {
	font-family: "Source Sans Pro";
	color: #36abe1;
	margin: 0;
}
.baby-step p {
	font-family: 'Open Sans';
	font-size: 13px;
}
.sprite-lg {
	display: inline-block;
	background-size: 100%;
	position: relative;
	margin-right: 16px;
	height: 75px;
	width: 75px;
	background-image: url('../images/icons/sprites/icons_large_fixed.png');
}
.baby-step:first-child .sprite-lg{
	width: 90px;
	background-position: 0px 549px;
}
.baby-step:nth-child(2) .sprite-lg{
	background-position: 0px 403px;
}
.baby-step:nth-child(3) .sprite-lg{
	width: 90px;
	background-position: 0px 400px;
}
.baby-step:nth-child(4) .sprite-lg {
	width: 80px;
	height: 65px;
	background-position: 0px 290px;
}
.baby-step:nth-child(5) .sprite-lg {
	width: 88px;
	background-position: 10px 246px;
}
.baby-step:nth-child(6) .sprite-lg {
	width: 76px;
	height: 65px;
	background-position: 7px 148px;
}
.baby-step:nth-child(7) .sprite-lg {
	width: 80px;
	background-position: 10px 82px;
}
.clicked {
	color: #36abe1;
}
.active {
	background-image: url('../images/icons/individual/icons_small_bs1_blue.png');
}