/*
  *
  * Table of contents
  *
  ==========================
  1 SASS Variables
    1.1 Color
    1.2 Typography
  2 Body
  3 Content Wrapper
  4 Jumbotron (hero section)
  5 Baby Steps
    5.1 Baby Steps List
    5.2 Baby Steps Content
  ==========================
*/




/*
  ==========================
  1 SASS Variables
  ==========================

  ==========================
  1.1 Color
  ==========================
*/
$body-background: #bbbfc2;
$steps-list-background: #EBECED;
$steps-content-background: #FFF;
$header-text: #FFF;

/*
  ==========================
  1.2 Typography
  ==========================
*/
$header-font: 'Open Sans', sans-serif;

/*
  ==========================
  2 Body
  ==========================
*/

body {
  background-color: $body-background;
}

/*
  ==========================
  3 Content Wrapper
  ==========================
*/

#content-wrapper {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

/*
  ==========================
  4 Jumbotron (hero section)
  ==========================
*/

.jumbotron {
  min-height: 276px;
  padding-top: 50px;
  background: url('../images/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  .jumbotron__pre-header,
  .jumbotron__header {
    padding-right: 70px;
    font-family: $header-font;
    color: $header-text;
  }
  .jumbotron__pre-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: light;
  }
  .jumbotron__header {
    margin-top: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
  }
}

/*
  ==========================
  5 Baby Steps
  ==========================

  ==========================
  5.1 Baby Steps List
  ==========================
*/

/*
  ==========================
  5.2 Baby Steps Content
  ==========================
*/



