/* 
	Author: Mark Fasel
	Copyright 2017. All Rights Reserved.
	Project: Front End Developer Exercise.
	Last Modified: 05/20/2017	
*/
/* Import Helpers */
/* Animations */
.content--main-step.fade-out-up {
  /* This timing applies on the way IN */
  transition-timing-function: ease-in;
  /* A litttttle slower on the way in */
  transition: 1s;
  top: -500px;
  opacity: 0; }

/* Import Base Styles */
/* Site Layout */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none; }

body {
  background: #bbbfc2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.site-container {
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 980px; }
  .site-container .site-header--masthead {
    position: relative; }
    .site-container .site-header--masthead h1 {
      color: #fff;
      font-family: "Open Sans", Helvetica, sans-serif;
      position: absolute;
      top: 50px;
      right: 70px;
      text-align: right;
      margin-top: 0; }
      .site-container .site-header--masthead h1 .site-header--masthead-line1 {
        display: block;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 15px; }
      .site-container .site-header--masthead h1 .site-header--masthead-line2 {
        display: block;
        font-weight: 700;
        font-size: 50px;
        line-height: 48px;
        text-transform: uppercase; }
        .site-container .site-header--masthead h1 .site-header--masthead-line2 span {
          display: block; }

#content {
  display: block;
  display: flex;
  display: -ms-flexbox;
  overflow: hidden;
  padding-top: 60px;
  position: relative;
  /**
	 * Content Main Styling
	**/
  /**
	 * Content Navigation Styling
	**/ }
  #content .content--main {
    float: left;
    height: 500px;
    order: 2;
    width: 66.666%;
    margin-left: 33.333%;
    margin-left: calc(33.333% + 70px);
    margin-right: 70px;
    position: relative; }
  #content .content--navigation {
    background: #ebeced;
    background: -moz-linear-gradient(left, #ebeced 0%, #ebeced 90%, #d1d5d6 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ebeced), color-stop(90%, #ebeced), color-stop(100%, #d1d5d6));
    background: -webkit-linear-gradient(left, #ebeced 0%, #ebeced 90%, #d1d5d6 100%);
    background: -o-linear-gradient(left, #ebeced 0%, #ebeced 90%, #d1d5d6 100%);
    background: -ms-linear-gradient(left, #ebeced 0%, #ebeced 90%, #d1d5d6 100%);
    background: linear-gradient(to right, #ebeced 0%, #ebeced 90%, #d1d5d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6', GradientType=1 );
    float: left;
    height: calc(100% - 60px);
    order: 1;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 33.333%;
    /* Nav UL Styling */ }
    #content .content--navigation ul {
      margin: 0;
      padding: 0; }
      #content .content--navigation ul li {
        border-bottom: 1px solid #ffffff;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 18px;
        line-height: 60px;
        list-style: none;
        text-align: right;
        position: relative; }
        #content .content--navigation ul li a {
          color: #9ba0a4;
          display: block;
          padding-right: 78px;
          position: relative;
          text-decoration: none;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
          #content .content--navigation ul li a i {
            display: inline-block;
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            right: 24px; }
            #content .content--navigation ul li a i.nav-icon {
              width: 30px;
              height: 25px;
              background: url("../images/icons/sprites/icons_small.png") 0 0; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step1 {
                background-position: 0 0; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step2 {
                background-position: 0 -25px; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step3 {
                background-position: 0 -50px; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step4 {
                background-position: 0 -75px; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step5 {
                background-position: 0 -100px; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step6 {
                background-position: 0 -125px; }
              #content .content--navigation ul li a i.nav-icon.nav-icon--step7 {
                background-position: 0 -150px; }
          #content .content--navigation ul li a:hover {
            background: #fff; }
        #content .content--navigation ul li.active a {
          background: #fff; }
        #content .content--navigation ul li.active.active--step1 .nav-icon--step1 {
          background-position: 0 -175px; }
        #content .content--navigation ul li.active.active--step2 .nav-icon--step2 {
          background-position: 0 -200px; }
        #content .content--navigation ul li.active.active--step3 .nav-icon--step3 {
          background-position: 0 -225px; }
        #content .content--navigation ul li.active.active--step4 .nav-icon--step4 {
          background-position: 0 -250px; }
        #content .content--navigation ul li.active.active--step5 .nav-icon--step5 {
          background-position: 0 -275px; }
        #content .content--navigation ul li.active.active--step6 .nav-icon--step6 {
          background-position: 0 -300px; }
        #content .content--navigation ul li.active.active--step7 .nav-icon--step7 {
          background-position: 0 -325px; }

.no-flexbox .content--navigation {
  height: 500px;
  position: relative !important;
  top: 0 !important; }

.no-flexbox .content--main {
  margin-left: 70px !important;
  height: 400px !important;
  width: calc(66.666% - 140px) !important; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10-specific styles go here */
  .content--navigation {
    height: 500px;
    position: relative !important;
    top: 0 !important; }
  .content--main {
    margin-left: 70px !important;
    height: 400px !important;
    width: calc(66.666% - 140px) !important; } }

/* Import View Styles */
/* Homepage Styles */
.content--main {
  overflow: hidden;
  position: relative; }

.content--main-step {
  position: absolute; }
  .content--main-step.active {
    top: 0;
    opacity: 1; }
  .content--main-step.hidden {
    top: -500px;
    opacity: 0; }
  .content--main-step .step-heading {
    display: block;
    display: flex;
    display: -ms-flexbox;
    margin-bottom: 24px;
    overflow: hidden;
    width: 100%; }
    .content--main-step .step-heading figure {
      float: left;
      width: 77px;
      height: 65px; }
    .content--main-step .step-heading .step-heading--text {
      float: left;
      width: 80%;
      margin-left: 24px;
      margin-top: 10px; }
      .content--main-step .step-heading .step-heading--text h2 {
        color: #36abe1;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 30px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 5px; }
      .content--main-step .step-heading .step-heading--text h3 {
        color: #5c6366;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 300; }
  .content--main-step .step--content p {
    color: #65686f;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 24px; }
    .content--main-step .step--content p a {
      color: #6fbee7; }
      .content--main-step .step--content p a:hover {
        text-decoration: none; }

.csstransitions .content--main-step.active {
  /* This timing applies on the way IN */
  transition-timing-function: ease-out;
  /* A litttttle slower on the way in */
  transition: 1s; }

.csstransitions .content--main-step.hidden {
  /* This timing applies on the way IN */
  transition-timing-function: ease-in;
  /* A litttttle slower on the way in */
  transition: 1s; }
