$base-font-size: 13px;
$font-stack: "Source Sans Pro", sans-serif;
$font-stack-sans-serif: Helvetica, Arial, sans-serif;
$font-stack-sans-serif2: "Open Sans", sans-serif;

$white: #fff;
$grey: #bbbfc2;
$light-grey: #ebeced;
$blue: #36abe1;

$primary-background-color: $grey;
$secondary-background-color: $white;
$tertinary-background-color: $light-grey;

$primary-text-color: $grey;
$secondary-text-color: $blue;
$tertinary-text-color: $white;
