.b-content
	padding 60px 0 0;
	background $color-white;
	position relative;

	&:after
		content '';
		width 100%;
		height 100%;
		box-shadow 0 10px 15px -5px darken(#bbbfc2, 25%);
		border-radius 200px/35px;
		position absolute;
		z-index -1;
		bottom 0; left 0;
