.b-header
    padding 50px 70px
    background url(../img/b-header.jpg) no-repeat center center;
    background-size cover;
    height 276px;
    color $color-white;

    &__heading
        text-align right;
        font 300 32px/0.95 $font-open-sans;

        strong
            display block;
            margin 10px 0 0;
            font-size 50px;
            text-transform uppercase;