/* @import 'support-for'; */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

div {
  padding: 0;
  margin: 0; }

body {
  height: 200%;
  background-color: #bbbfc2; }

header.page-header {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
  height: auto; }
  header.page-header img {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin: 0;
    display: block; }
  header.page-header .page-header-title {
    position: absolute;
    text-align: right;
    top: 50px;
    right: 70px;
    color: white;
    margin: 0;
    padding: 0; }
    header.page-header .page-header-title h1 {
      font-weight: 300;
      font-family: 'Open Sans';
      font-size: 32px;
      line-height: 1;
      margin: 0 0 15px 0;
      padding: 0; }
    header.page-header .page-header-title h2 {
      font-weight: 700;
      font-family: 'Open Sans';
      font-size: 50px;
      line-height: 48px;
      margin: 0;
      padding: 0; }

.page-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.page-container-shadow {
  position: absolute;
  padding: 0;
  margin: 0; }

#page-container-left-shadow {
  top: 0;
  left: -15px; }

#page-container-right-shadow {
  top: 0;
  right: -15px; }

#page-container-bottom-shadow {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%; }

.page-content {
  background-color: #fff;
  padding: 60px 0 0 0;
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative; }

.step-tabs {
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: #ebeced;
  vertical-align: top; }
  .step-tabs ul {
    background-image: -webkit-linear-gradient(left, #ebeced 97%, #d1d5d6 100%);
    background-image: -o-linear-gradient(left, #ebeced 97%, #d1d5d6 100%);
    background-image: linear-gradient(to right, #ebeced 97%, #d1d5d6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBECED', endColorstr='#FFD1D5D6', GradientType=1);
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right; }

.step-tabs ul li {
  font-weight: 400;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid white;
  line-height: 60px;
  color: #9ba0a4; }
  .step-tabs ul li label {
    height: 100%;
    width: 100%;
    display: inline-block; }
  .step-tabs ul li img {
    padding-left: 24px;
    padding-right: 24px; }
    .step-tabs ul li img.selected {
      display: none; }
    .step-tabs ul li img.unselected {
      display: inline-block; }
  .step-tabs ul li input[type=radio] {
    display: none; }
  .step-tabs ul li input[type=radio]:checked ~ label {
    background-color: white;
    color: #36abe1;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    font-size: 18px; }
    .step-tabs ul li input[type=radio]:checked ~ label .step-content {
      display: inline-block; }
    .step-tabs ul li input[type=radio]:checked ~ label img.selected {
      display: inline-block; }
    .step-tabs ul li input[type=radio]:checked ~ label img.unselected {
      display: none; }

.step-content {
  font-weight: 400;
  font-family: 'Helvetica';
  font-size: 13px;
  display: none;
  position: absolute;
  top: 60px;
  left: 30%;
  padding-left: 70px;
  padding-right: 70px;
  color: #65686f;
  line-height: 18px;
  text-align: left; }
  .step-content .step-title .step-title-img {
    display: inline-block;
    top: 0;
    left: 0;
    width: 60px;
    padding: 0;
    margin: 0 15px 0 0;
    float: left; }
  .step-content .step-title h3.step-header {
    font-weight: 600;
    font-family: 'Source Sans Pro';
    font-size: 30px;
    line-height: 20px;
    color: #36abe1;
    padding: 0;
    margin: 0 75px 0 0;
    display: inline-block; }
  .step-content .step-title h5.step-subheader {
    font-weight: 300;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 20px;
    color: #5c6366;
    padding: 0;
    margin: 0 75px 0 0;
    display: inline-block; }
  .step-content .step-body {
    margin-top: 24px; }
