%hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

%cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%navList {
	margin:0; padding:0;
	list-style:none;
}