---
title: Baby Steps
---

<section class="content__body">
  <article class="baby-step-3">
    <h3 class="content__title">
      <div class="icon content__icon">
        <img class="asset" src="images/icons/individual/icons_large_bs3_blue.png" />
      </div>
      <div class="content__title-text">
        <span>Baby Step 3</span>
        <span class="content__subtitle">3 to 6 months of expenses in savings</span>
      </dov>
    </h3>
    <div class="content__body">
      <p class="content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate ante quis augue ornare consectetur. Quisque sit amet dolor sit amet magna convallis egestas nec a ante. Phasellus pellentesque in leo vitae mollis. Vivamus eget bibendum nisi. Proin vel bibendum tortor, in scelerisque neque.
      </p>
      <p class="content__text">
        Sed egestas, lacus at sollicitudin vehicula, tellus nisi volutpat velit, quis auctor est dolor nec justo. Proin eu ligula nec augue placerat porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <p class="content__text friends">
        <a class="link" href="#">Kathleen Baker</a>, <a class="link" href="#">Ryan Larsen</a> and 4 Others are on this step
      </p>
    </div>
  </article>
</section>

<!-- <div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div> -->
