<!doctype html>
<title>Front-End Developer Exercise</title>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="stepNum">6</div>
  <header>
    <div class="header-image">
      <img class="header-image" src="../assets/images/header_text.jpg">
    </div>
  </header>
  <div class="content">
    <nav class="side-nav">
      <a href="../index.html"><div class="steps">
        Baby Step 1<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs1.png">
      </div></a>
      <a href="step2.html"><div class="steps">
        Baby Step 2<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs2.png">
      </div></a>
      <a href="step3.html"><div class="steps">
        Baby Step 3<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs3.png">
      </div></a>
      <a href="step4.html"><div class="steps">
        Baby Step 4<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs4.png">
      </div></a>
      <a href="step5.html"><div class="steps">
        Baby Step 5<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs5.png">
      </div></a>
      <a href="step6.html"><div class="selected">
        Baby Step 6<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs6_blue.png">
      </div></a>
      <a href="step7.html"><div class="steps">
        Baby Step 7<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs7.png">
      </div></a>
    </nav>
  <section class="body-text">
    <img class="title-icon"src="../assets/images/icons/individual/icons_large_bs6_blue.png">
    <p class="title">
      Baby Step 6
    </p>
    <p class="subtitle">
      Pay off your house early
    </p>
    <section class="baby-step-text">
      <p>
        Now it’s time to begin chunking all of your extra money toward the mortgage. You are getting closer to realizing the dream of a life with no house payments.
      </p>
      <p>
        As you attack this last debt, you will gain momentum much like you did back in the second step of the debt snowball. Remember, having absolutely no payments is totally within your reach!
      </p>
      <div id="friends" class="friends-list"></div>
    </section>
  </section>
  </div>
  <img src="../assets/images/shadow_bottom.jpg">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="../assets/javascripts/script.js"></script>
</body>

