<!doctype html>
<title>Front-End Developer Exercise</title>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="stepNum">4</div>
  <header>
    <div class="header-image">
      <img class="header-image" src="../assets/images/header_text.jpg">
    </div>
  </header>
  <div class="content">
    <nav class="side-nav">
      <a href="../index.html"><div class="steps">
        Baby Step 1<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs1.png">
      </div></a>
      <a href="step2.html"><div class="steps">
        Baby Step 2<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs2.png">
      </div></a>
      <a href="step3.html"><div class="steps">
        Baby Step 3<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs3.png">
      </div></a>
      <a href="step4.html"><div class="selected">
        Baby Step 4<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs4_blue.png">
      </div></a>
      <a href="step5.html"><div class="steps">
        Baby Step 5<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs5.png">
      </div></a>
      <a href="step6.html"><div class="steps">
        Baby Step 6<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs6.png">
      </div></a>
      <a href="step7.html"><div class="steps">
        Baby Step 7<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs7.png">
      </div></a>
    </nav>
  <section class="body-text">
    <img class="title-icon"src="../assets/images/icons/individual/icons_large_bs4_blue.png">
    <p class="title">
      Baby Step 4
    </p>
    <p class="subtitle">
      Invest 15% of household income for retirement
    </p>
    <section class="baby-step-text">
      <p>
        When you reach this step, you’ll have no payments—except the house—and a fully funded emergency fund. Now it’s time to get serious about building wealth.
      </p>
      <p>
        Dave suggests investing 15% of your household income into Roth IRAs and pre-tax retirement plans. Don’t invest more than that because the extra money will help you complete the next two steps: college savings and paying off your home early.
      </p>
      <div id="friends" class="friends-list"></div>
    </section>
  </section>
  </div>
  <img src="../assets/images/shadow_bottom.jpg">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="../assets/javascripts/script.js"></script>
</body>

