<!doctype html>
<title>Front-End Developer Exercise</title>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="stepNum">2</div>
  <header>
    <div class="header-image">
      <img class="header-image" src="../assets/images/header_text.jpg">
    </div>
  </header>
  <div class="content">
    <nav class="side-nav">
      <a href="../index.html"><div class="steps">
        Baby Step 1<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs1.png">
      </div></a>
      <a href="views/step2.html"><div class="selected">
        Baby Step 2<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs2_blue.png">
      </div></a>
      <a href="step3.html"><div class="steps">
        Baby Step 3<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs3.png">
      </div></a>
      <a href="step4.html"><div class="steps">
        Baby Step 4<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs4.png">
      </div></a>
      <a href="step5.html"><div class="steps">
        Baby Step 5<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs5.png">
      </div></a>
      <a href="step6.html"><div class="steps">
        Baby Step 6<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs6.png">
      </div></a>
      <a href="step7.html"><div class="steps">
        Baby Step 7<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs7.png">
      </div></a>
    </nav>
  <section class="body-text">
    <img class="title-icon"src="../assets/images/icons/individual/icons_large_bs2_blue.png">
    <p class="title">
      Baby Step 2
    </p>
    <p class="subtitle">
      Pay off all debt using the Debt Snowball
    </p>
    <section class="baby-step-text">
      <p>
        List your debts, excluding the house, in order. The smallest balance should be your number one priority. Don’t worry about interest rates unless two debts have similar payoffs. If that’s the case, then list the higher interest rate debt first.
      </p>
      <p>
        The point of the debt snowball is simply this: You need some quick wins in order to stay pumped up about getting out of debt! Paying off debt is not always about math. It’s about motivation. Personal finance is 20% head knowledge and 80% behavior. When you start knocking off the easier debts, you will see results and you will stay motivated to dump your debt.
      </p>
      <div id="friends" class="friends-list"></div>
    </section>
  </section>
  </div>
  <img src="../assets/images/shadow_bottom.jpg">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="../assets/javascripts/script.js"></script>
</body>

