<!doctype html>
<title>Front-End Developer Exercise</title>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="stepNum">7</div>
  <header>
    <div class="header-image">
      <img class="header-image" src="../assets/images/header_text.jpg">
    </div>
  </header>
  <div class="content">
    <nav class="side-nav">
      <a href="../index.html"><div class="steps">
        Baby Step 1<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs1.png">
      </div></a>
      <a href="step2.html"><div class="steps">
        Baby Step 2<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs2.png">
      </div></a>
      <a href="step3.html"><div class="steps">
        Baby Step 3<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs3.png">
      </div></a>
      <a href="step4.html"><div class="steps">
        Baby Step 4<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs4.png">
      </div></a>
      <a href="step5.html"><div class="steps">
        Baby Step 5<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs5.png">
      </div></a>
      <a href="step6.html"><div class="steps">
        Baby Step 6<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs6.png">
      </div></a>
      <a href="step7.html"><div class="selected">
        Baby Step 7<img class="step-icon" src="../assets/images/icons/individual/icons_large_bs7_blue.png">
      </div></a>
    </nav>
  <section class="body-text">
    <img class="title-icon"src="../assets/images/icons/individual/icons_large_bs7_blue.png">
    <p class="title">
      Baby Step 7
    </p>
    <p class="subtitle">
      Build wealth and give!
    </p>
    <section class="baby-step-text">
      <p>
        It’s time to build wealth and give like never before. Leave an inheritance for future generations, and bless others now with your excess. It's really the only way to live!
      </p>
      <p>
        Golda Meir says, “You can’t shake hands with a clenched fist.” Vow to never hold your money so tightly that you never give any away. Hoarding money is not the way to wealth. Save for yourself, save for your family’s future, and be gracious enough to bless others. You can do all three at the same time.
      </p>
      <div id="friends" class="friends-list"></div>
    </section>
  </section>
  </div>
  <img src="../assets/images/shadow_bottom.jpg">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="../assets/javascripts/script.js"></script>
</body>

