

@-webkit-keyframes scaleUp{
    0%      {opacity:.2; transform:scale(.9);}
    100%    {opacity:1; transform:scale(1);}
}

@keyframes scaleUp{
    0%      {opacity:.2; transform:scale(.9);}
    100%    {opacity:1; transform:scale(1);}
}


