@-webkit-keyframes scaleUp{
    0%      {opacity:.2; transform:scale(.9);}
    100%    {opacity:1; transform:scale(1);}
}

@keyframes scaleUp{
    0%      {opacity:.2; transform:scale(.9);}
    100%    {opacity:1; transform:scale(1);}
}


@keyframes slideDown{
    0%      {
        -webkit-transform:translate(-50%,-150%);
        -moz-transform:translate(-50%,-150%);
        -ms-transform:translate(-50%,-150%);
        transform:translate(-50%,-150%);
    }
    100%    {
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }
}

@keyframes slideUp{
    0%    {
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }
    100%  {
        -webkit-transform:translate(-50%,-150%);
        -moz-transform:translate(-50%,-150%);
        -ms-transform:translate(-50%,-150%);
        transform:translate(-50%,-150%);
    }
}



