.aside-page{
    margin-bottom:40px;
    padding-bottom:0;
    box-shadow:none;
    @include clearfix;
}
.steps-list {
    height:auto;
    margin:0 auto;
    padding:0;
    text-align:center;

    float:none;

    li {
        float:left;
        padding:0 10px;
        font-size:13px;
        text-align:center;
        box-shadow:non;
        //@include make-md-column(2,0);

        a {
            text-align:center;
            &:after{
                display:none;
            }
        }

    }
}

.article-wrap{
    padding-bottom:40px;
}