html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  background-color: #bbbfc2; }

.container, header.header {
  width: 980px;
  margin: 0 auto; }

.container {
  position: relative;
  background-color: #ffffff; }
  .container::before, .container::after {
    position: absolute;
    display: block;
    width: 15px;
    height: 724px;
    top: 0; }
  .container::before {
    content: url("../images/shadow_left.jpg");
    left: -15px; }
  .container::after {
    content: url("../images/shadow_right.jpg");
    right: -15px; }
  .container .clear::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden; }

header.header {
  background: url("../images/header.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 276px;
  padding: 50px 70px 0;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px; }
  header.header h1 {
    color: #ffffff;
    text-align: right;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem; }
    header.header h1 span {
      line-height: 3rem;
      font-size: 3.125rem;
      display: block;
      font-weight: 700; }

aside {
  position: relative;
  float: left;
  width: 30%;
  background: #ebeced;
  background: -webkit-gradient(linear, left top, right top, color-stop(87%, #ebeced), color-stop(95%, #ebeced), to(#d1d5d6));
  background: linear-gradient(to right, #ebeced 87%, #ebeced 95%, #d1d5d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#d1d5d6',GradientType=1 ); }
  aside .whitebox {
    position: absolute;
    background: #ffffff;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: top 0.4s;
    transition: top 0.4s; }
  aside ul {
    position: relative;
    z-index: 1; }
    aside ul li {
      list-style-type: none;
      text-align: right;
      padding-right: 24px;
      border-bottom: 1px solid #ffffff;
      cursor: pointer; }
      aside ul li.active h3 {
        color: #36abe1;
        font-weight: 600; }
      aside ul li h3 {
        font-family: "Source Sans Pro", sans-serif;
        color: #9ba0a4;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 3.75rem;
        display: inline-block;
        margin-right: 30px; }
      aside ul li span {
        background: url("../images/icons/sprites/icons_small.png") no-repeat;
        display: inline-block;
        position: relative;
        width: 30px;
        top: 4px; }
        aside ul li span.bs-1 {
          background-position: 0 0px;
          height: 20px; }
          aside ul li span.bs-1.icon-active {
            background-position: 0 -175px; }
        aside ul li span.bs-2 {
          background-position: 0 -26px;
          height: 21px; }
          aside ul li span.bs-2.icon-active {
            background-position: 0 -201px; }
        aside ul li span.bs-3 {
          background-position: 0 -52px;
          height: 21px; }
          aside ul li span.bs-3.icon-active {
            background-position: 0 -227px; }
        aside ul li span.bs-4 {
          background-position: 0 -76px;
          height: 24px; }
          aside ul li span.bs-4.icon-active {
            background-position: 0 -251px; }
        aside ul li span.bs-5 {
          background-position: 0 -99px;
          height: 26px; }
          aside ul li span.bs-5.icon-active {
            background-position: 0 -274px; }
        aside ul li span.bs-6 {
          background-position: 0 -125px;
          height: 25px; }
          aside ul li span.bs-6.icon-active {
            background-position: 0 -300px; }
        aside ul li span.bs-7 {
          background-position: 0 -150px;
          height: 25px; }
          aside ul li span.bs-7.icon-active {
            background-position: 0 -325px; }

section {
  float: right;
  width: 70%;
  padding: 0 70px 70px; }
  section .window {
    overflow: hidden; }
  section header {
    font-family: "Source Sans Pro", sans-serif; }
    section header h2 {
      font-weight: 600;
      font-size: 1.875rem;
      color: #36abe1;
      line-height: 1.25rem; }
    section header h3 {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 2rem; }
    section header::after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      visibility: hidden; }
  section .article-container {
    position: relative;
    top: 0;
    -webkit-transition: top 0.5s;
    transition: top 0.5s; }
  section .col-sm {
    float: left;
    width: 14%; }
    section .col-sm img {
      width: 100%;
      position: relative;
      top: -17px;
      margin-bottom: -7px; }
  section .col-wide {
    float: left;
    width: 86%;
    padding-left: 20px; }
  section article {
    margin-bottom: 50px;
    padding-top: 20px; }
    section article p {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 1.125rem;
      color: #65686f; }
      section article p.friends {
        margin-top: 20px; }
      section article p span {
        color: #36abe1; }
