head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  title Front-End Developer Exercise
  link(rel='stylesheet', href='index.css', type='text/css', media='print', title='no title', charset='utf-8')
  link(rel='stylesheet', href='index.css', type='text/css', media='screen', title='no title', charset='utf-8')
  // link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700|Source+Sans+Pro:400,600,300' rel='stylesheet' type='text/css')
