<div class="page-content-body">
	<div class="body-heading">
		<img src="#" />
		<h4>Baby Step 6</h4>
		<h3>Pay off your house early</h3>
	</div>
	<p>Now it’s time to begin chunking all of your extra money toward the mortgage. You are getting closer to realizing the dream of a life with no house payments.</p>

	<p>As you attack this last debt, you will gain momentum much like you did back in the second step of the debt snowball. Remember, having absolutely no payments is totally within your reach!</p>
</div>