<!DOCTYPE html>
<html>
<head>
	<title>Front-End Developer Exercise</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:700,300'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300'>
	<link rel="stylesheet" href="../assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<header class="hero">
			<div class="title-container">
				<h3 class="title">Real Life, Love and Money with</h3>
				<h2 class="sub-title">America's Most
			Trusted Guy</h2>
			</div>
		</header>

		<main class="content">
			<nav class="steps-nav"> 
				<ol class="steps-list">
					<li class="step-item" data-step="1">
						<a class="step-link" href="step-1">Baby Step 1
						<div id="step-1" class="step-img"></div>
						</a>
					</li>
					<li class="step-item" data-step="2">
						<a class="step-link" href="step-2">Baby Step 2
						<div id="step-2" class="step-img"></div>
						</a>
					</li>
					<li class="step-item" data-step="3">
						<a class="step-link" href="step-3">Baby Step 3
						<div id="step-3" class="step-img"></div>
						</a>
					</li>
					<li class="step-item" data-step="4">
						<a class="step-link" href="step-4">Baby Step 4
						<div id="step-4" class="step-img"></div>
						</a>
					</li>
					<li class="step-item is-current" data-step="5">
						<a class="step-link" href="step-5">Baby Step 5
						<div id="step-5" class="step-img"></div>
						</a>
					</li>
					<li class="step-item" data-step="6">
						<a class="step-link" href="step-6">Baby Step 6
						<div id="step-6" class="step-img"></div>
						</a>
					</li>
					<li class="step-item" data-step="7">
						<a class="step-link" href="step-7">Baby Step 7
						<div id="step-7" class="step-img"></div>
						</a>
					</li>
				</ol>
			</nav>

			<section id="page-content">
				<div class="page-content-container">
					<div class="page-content-body is-current">
						<div class="body-heading">
							<div id="step5" class="image"></div>
							<div class="heading-titles">
								<h3 class="step-title">Baby Step 5</h3>
								<h4 class="step-subtitle">College funding for children</h4>
							</div>
						</div>
						<p>By this point, you should have already started Baby Step 4—investing 15% of your income—before saving for college. Whether you are saving for you or your child to go to college, you need to start now.</p>

						<p>In order to have enough money saved for college, you need to have a goal. Determine how much per month you should be saving at 12% interest in order to have enough for college. If you save at 12% and inflation is at 4%, then you are moving ahead of inflation at a net of 8% per year!</p>

						<div class="friends">
							<!-- SERVER SIDE DYNAMIC LOAD REQUIRED -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<script src="../assets/javascripts/app.js"></script>
</body>
</html>