<div class="page-content-body">
	<div class="body-heading">
		<img src="#" />
		<h4>Baby Step 1</h4>
		<h3>$1,000 Emergency Fund</h3>
	</div>
	<p>An emergency fund is for those unexpected events in life that you can’t plan for: the loss of a job, an unexpected pregnancy, a faulty car transmission, and the list goes on and on. It’s not a matter of if these events will happen; it’s simply a matter of when they will happen.</p>

	<p>This beginning emergency fund will keep life’s little Murphies from turning into new debt while you work off the old debt. If a real emergency happens, you can handle it with your emergency fund. No more borrowing. It’s time to break the cycle of debt!</p>
</div>