<!DOCTYPE html>
<html>
<head>
	<title>Front-End Developer Exercise</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:700,300'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300'>
	<link rel="stylesheet" href="../assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<header class="hero">
			<div class="title-container">
				<h3 class="title">Real Life, Love and Money with</h3>
				<h2 class="sub-title">America's Most
			Trusted Guy</h2>
			</div>
		</header>

		<main class="content">
			<nav class="steps-nav"> 
				<ol class="steps-list">
					<li class="step-item" data-step="1">
						<a class="step-link" href="step-1">Baby Step 1</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="2">
						<a class="step-link" href="step-2">Baby Step 2</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="3">
						<a class="step-link" href="step-3">Baby Step 3</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="4">
						<a class="step-link" href="step-4">Baby Step 4</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="5">
						<a class="step-link" href="step-5">Baby Step 5</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="6">
						<a class="step-link" href="step-6">Baby Step 6</a>
						<img class="step-img" src="#">
					</li>
					<li class="step-item" data-step="7">
						<a class="step-link" href="step-7">Baby Step 7</a>
						<img class="step-img" src="#">
					</li>
				</ol>
			</nav>

			<section id="page-content">
				<div class="page-content-container">
					<div class="page-content-body">
						<div class="body-heading">
							<div id="step1" class="image"></div>
							<div class="heading-titles">
								<h3 class="step-title">Baby Step 1</h3>
								<h4 class="step-subtitle">$1,000 Emergency Fund</h4>
							</div>
						</div>
						<p>An emergency fund is for those unexpected events in life that you can’t plan for: the loss of a job, an unexpected pregnancy, a faulty car transmission, and the list goes on and on. It’s not a matter of if these events will happen; it’s simply a matter of when they will happen.</p>

						<p>This beginning emergency fund will keep life’s little Murphies from turning into new debt while you work off the old debt. If a real emergency happens, you can handle it with your emergency fund. No more borrowing. It’s time to break the cycle of debt!</p>

						<div class="friends">
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<script src="../assets/javascripts/app.js"></script>
</body>
</html>