<!DOCTYPE html>
<html>
<head>
	<title>Front-End Developer Exercise</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:700,300'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300'>
	<link rel="stylesheet" href="../assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<header class="hero">
			<div class="title-container">
				<h3 class="title">Real Life, Love and Money with</h3>
				<h2 class="sub-title">America's Most
			Trusted Guy</h2>
			</div>
		</header>

		<main class="content">
			<nav class="steps-nav"> 
				<ol class="steps-list">
					<li class="step-item" data-step="1">
						<a class="step-link" href="step-1">Baby Step 1</a>
						<div id="step-1" class="step-img"></div>
					</li>
					<li class="step-item" data-step="2">
						<a class="step-link" href="step-2">Baby Step 2</a>
						<div id="step-2" class="step-img"></div>
					</li>
					<li class="step-item" data-step="3">
						<a class="step-link" href="step-3">Baby Step 3</a>
						<div id="step-3" class="step-img"></div>
					</li>
					<li class="step-item" data-step="4">
						<a class="step-link" href="step-4">Baby Step 4</a>
						<div id="step-4" class="step-img"></div>
					</li>
					<li class="step-item" data-step="5">
						<a class="step-link" href="step-5">Baby Step 5</a>
						<div id="step-5" class="step-img"></div>
					</li>
					<li class="step-item  is-current" data-step="6">
						<a class="step-link" href="step-6">Baby Step 6</a>
						<div id="step-6" class="step-img"></div>
					</li>
					<li class="step-item" data-step="7">
						<a class="step-link" href="step-7">Baby Step 7</a>
						<div id="step-7" class="step-img"></div>
					</li>
				</ol>
			</nav>

			<section id="page-content">
				<div class="page-content-container">
					<div class="page-content-body is-current">
						<div class="body-heading">
							<div id="step6" class="image"></div>
							<div class="heading-titles">
								<h3 class="step-title">Baby Step 6</h3>
								<h4 class="step-subtitle">Pay off your house early</h4>
							</div>
						</div>
						<p>Now it’s time to begin chunking all of your extra money toward the mortgage. You are getting closer to realizing the dream of a life with no house payments.</p>

						<p>As you attack this last debt, you will gain momentum much like you did back in the second step of the debt snowball. Remember, having absolutely no payments is totally within your reach!</p>

						<div class="friends">
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<script src="../assets/javascripts/app.js"></script>
</body>
</html>