doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie-edge")
    title=title
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/assets/stylesheets/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600")
  body
    block content
    script(src="/assets/javascripts/main.js")
